<?xml version="1.0"?>
<config>
    <modules>
        <MarginFrame_TTF>
            <version>0.3.2</version>
        </MarginFrame_TTF>
    </modules>
    <crontab>
        <jobs>
            <ttf_cron_pim_import>
                <schedule><cron_expr>0 6 * * *</cron_expr></schedule>
                <run><model>ttf/cron_pim_import::Run</model></run>
            </ttf_cron_pim_import>
            <!--
            <ttf_cron_pim_disable>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>ttf/cron_pim_disable::Run</model></run>
            </ttf_cron_pim_disable>
            -->
        </jobs>
    </crontab>
    <global>    
        <models>
            <ttf>
                <class>MarginFrame_TTF_Model</class>
                <resourceModel>ttf_resource</resourceModel>
            </ttf>
            <ttf_resource>
                <class>MarginFrame_TTF_Model_Resource</class>
            </ttf_resource>
        </models>
        <blocks>
            <ttf>
                <class>MarginFrame_TTF_Block</class>
            </ttf>
        </blocks>
        <helpers>
            <ttf>
                <class>MarginFrame_TTF_Helper</class>
            </ttf>
        </helpers>
        <resources>
            <marginframe_ttf_setup>
                <setup>
                    <module>MarginFrame_TTF</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </marginframe_ttf_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <test>
                <use>standard</use>
                <args>
                    <module>MarginFrame_TTF</module>
                    <frontName>test</frontName>
                </args>
            </test>
            <ttf>
                <use>standard</use>
                <args>
                    <module>MarginFrame_TTF</module>
                    <frontName>ttf</frontName>
                </args>
            </ttf>
        </routers>
    </frontend>
    <admin>
        <routers>
            <ttf>
                <use>admin</use>
                <args>
                    <module>MarginFrame_TTF</module>
                    <frontName>ttf</frontName>
                </args>
            </ttf>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ttf>
                    <file>marginframe/ttf.xml</file>
                </ttf>
            </updates>
        </layout>
    </adminhtml>
</config>