<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Customcompare>
			<version>0.1.0</version>
		</Magebuzz_Customcompare>
	</modules>

	<frontend>
		<routers>
			<customcompare>
				<use>standard</use>
				<args>
					<module>Magebuzz_Customcompare</module>
					<frontName>customcompare</frontName>
				</args>
			</customcompare>
			<catalog>
					<args>
							<modules>
									<magebuzz_customcompare before="Mage_Catalog">Magebuzz_Customcompare</magebuzz_customcompare>
							</modules>
					</args>
			</catalog>
		</routers>
		<layout>
			<updates>
				<customcompare>
					<file>customcompare.xml</file>
				</customcompare>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Customcompare>
					<files>
						<default>Magebuzz_Customcompare.csv</default>
					</files>
				</Magebuzz_Customcompare>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<customcompare>
				<use>admin</use>
				<args>
					<module>Magebuzz_Customcompare</module>
					<frontName>customcompare</frontName>
				</args>
			</customcompare>
		</routers>
	</admin>
  <adminhtml>		
		<layout>
			<updates>
				<customcompare>
					<file>customcompare.xml</file>
				</customcompare>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Customcompare>
					<files>
						<default>Magebuzz_Customcompare.csv</default>
					</files>
				</Magebuzz_Customcompare>
			</modules>
		</translate>
  </adminhtml> 
	<global>
		<models>
			<customcompare>
				<class>Magebuzz_Customcompare_Model</class>
				<resourceModel>customcompare_mysql4</resourceModel>
			</customcompare>
			<customcompare_mysql4>
				<class>Magebuzz_Customcompare_Model_Mysql4</class>
				<entities>
					<customcompare>
						<table>customcompare</table>
					</customcompare>
				</entities>
			</customcompare_mysql4>
		</models>
		<resources>
			<customcompare_setup>
				<setup>
					<module>Magebuzz_Customcompare</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customcompare_setup>
			<customcompare_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customcompare_write>
			<customcompare_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customcompare_read>
		</resources>
		<blocks>
			<customcompare>
				<class>Magebuzz_Customcompare_Block</class>
			</customcompare>
		</blocks>
		<helpers>
			<customcompare>
				<class>Magebuzz_Customcompare_Helper</class>
			</customcompare>
		</helpers>
	</global>
</config>
