*.zip
.ftpquota
Gulpfile.js
package.json
sitemap.xml
sitemap/sitemap.xml
php_errorlog
/robots.txt
__MACOSX
._.DS_Store
.DS_Store
/node_modules
/.htaccess*
/.idea
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE*
/RELEASE_NOTES.txt
/api.php
/app/.htaccess
/app/Mage.php
/app/code/community/Cm/
/app/code/community/Phoenix/
/app/code/core/
/app/design/frontend/base/
/app/design/frontend/default/blank/
/app/design/frontend/default/default/
/app/design/frontend/default/iphone/
/app/design/frontend/default/modern/
/app/design/frontend/enterprise/default

/app/design/install/
/app/etc/applied.patches.list
/app/etc/config.xml
/app/etc/enterprise.xml
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/modules/Cm_RedisSession.xml
/app/etc/modules/Enterprise_*
/app/etc/modules/Mage_*.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/locale/de_DE/
/app/locale/en_US/Mage_*.csv
/app/locale/en_US/Phoenix_*.csv
/app/locale/en_US/template/email/*.html
/app/locale/en_US/template/email/sales/*.html
/app/locale/es_ES/
/app/locale/fr_FR/
/app/locale/nl_NL/
/app/locale/pt_BR/
/app/locale/zh_CN/
/cron.php
/cron.sh
/downloader/
/errors/
/favicon.ico
/get.php
/includes/
/index.php
/index.php.sample
/install.php
/js/blank.html
/js/calendar/
/js/enterprise/
/js/extjs/
/js/firebug/
/js/flash/
/js/index.php
/js/jscolor/
/js/lib/
/js/mage/
/js/prototype/
/js/scriptaculous/
/js/spacer.gif
/js/tiny_mce/
/js/varien/
/lib/.htaccess
/lib/3Dsecure/
/lib/Apache/
/lib/Cm/
/lib/Credis/
/lib/LinLibertineFont/
/lib/Mage/
/lib/Magento/
/lib/PEAR/
/lib/Varien/
/lib/Zend/
/lib/flex/
/lib/googlecheckout/
/lib/phpseclib/
/mage
/nbproject/
/pear/
/php.ini.sample
/pkginfo/
/shell/abstract.php
/shell/compiler.php
/shell/indexer.php
/shell/log.php
/skin/frontend/base/
/skin/frontend/default/blank/
/skin/frontend/default/blue/
/skin/frontend/default/default/*
/skin/frontend/default/french/
/skin/frontend/default/german/
/skin/frontend/default/iphone/
/skin/frontend/default/modern/
/skin/frontend/enterprise

/skin/install/
/var/
/media

# ingore debug extension
/app/code/local/Opencommercellc/
/app/etc/modules/Opencommercellc_Commercebug.xml
/js/commercebug/

# update 13/02
sitemap/

# update 12/02
/download

.buildpath
.project
.settings/.jsdtscope
.settings/com.zend.php.remoteproject.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
.settings/org.eclipse.php.ui.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
*.launch

# ignore email debug
/app/code/community/Nat
app/etc/modules/Nat_Localmail.xml