<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Allcategory>
            <version>0.1.0</version>
        </Magebuzz_Allcategory>
    </modules>
    <frontend>
        <routers>
            <allcategory>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Allcategory</module>
                    <frontName>allcategory</frontName>
                </args>
            </allcategory>
        </routers>
        <layout>
            <updates>
                <allcategory>
                    <file>allcategory.xml</file>
                </allcategory>
            </updates>
        </layout>
				<events>
            <controller_action_layout_load_before>
                <observers>
                    <allcategory_controller_category_load_before>
                        <class>allcategory/observer</class>
                        <method>categoryViewLoadBefore</method>
                    </allcategory_controller_category_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <global>
			<helpers>
				<allcategory>
					<class>Magebuzz_Allcategory_Helper</class>
				</allcategory>
                <bundle>
                    <rewrite>
                        <catalog_product_configuration>Magebuzz_Allcategory_Helper_Bundle_Catalog_Product_Configuration</catalog_product_configuration>
                    </rewrite>
                </bundle>
			</helpers>
			<blocks>
				<allcategory>
					<class>Magebuzz_Allcategory_Block</class>
				</allcategory>
			</blocks>
			<models>
				<allcategory>
					<class>Magebuzz_Allcategory_Model</class>
				</allcategory>
			</models>
    </global>
</config> 