<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Allcategory>
            <version>0.1.0</version>
        </Magebuzz_Allcategory>
    </modules>
    <frontend>
        <routers>
            <allcategory>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Allcategory</module>
                    <frontName>allcategory</frontName>
                </args>
            </allcategory>
        </routers>
        <layout>
            <updates>
                <allcategory>
                    <file>allcategory.xml</file>
                </allcategory>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <allcategory>
                <class>Magebuzz_Allcategory_Helper</class>
            </allcategory>
        </helpers>
        <blocks>
            <allcategory>
                <class>Magebuzz_Allcategory_Block</class>
            </allcategory>
        </blocks>
    </global>
</config> 