@font-face {
    font-family: 'Index';
    src: url('fonts/livev2/index-light.eot');
    src: url('fonts/livev2/index-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/livev2/index-light.woff') format('woff'),
         url('fonts/livev2/index-light.ttf') format('truetype'),
         url('fonts/livev2/index-light.svg#index-light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Index';
    src: url('fonts/livev2/index-medium.eot');
    src: url('fonts/livev2/index-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/livev2/index-medium.woff') format('woff'),
         url('fonts/livev2/index-medium.ttf') format('truetype'),
         url('fonts/livev2/index-medium.svg#index-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Index';
    src: url('fonts/livev2/index-bold.eot');
    src: url('fonts/livev2/index-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/livev2/index-bold.woff') format('woff'),
         url('fonts/livev2/index-bold.ttf') format('truetype'),
         url('fonts/livev2/index-bold.svg#index-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'futuramedium';
    src: url('fonts/prd-list/futura_medium-webfont.woff2') format('woff2'),
         url('fonts/prd-list/futura_medium-webfont.woff') format('woff'),
         url('fonts/prd-list/futura_medium-webfont.ttf') format('truetype'),
         url('fonts/prd-list/futura_medium-webfont.svg#futuramedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'db_yord_xregular';
    src: url('fonts/prd-list/db_yord_x_v3.2-webfont.woff2') format('woff2'),
         url('fonts/prd-list/db_yord_x_v3.2-webfont.woff') format('woff'),
         url('fonts/prd-list/db_yord_x_v3.2-webfont.ttf') format('truetype'),
         url('fonts/prd-list/db_yord_x_v3.2-webfont.svg#db_yord_xregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('fonts/FuturaBT-Book.eot');
    src: local('☺'), url('fonts/FuturaBT-Book.woff') format('woff'), url('fonts/FuturaBT-Book.ttf') format('truetype'), url('fonts/FuturaBT-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'DBYordX';
  src: url('fonts/DBYordX.eot?#iefix') format('embedded-opentype'),  url('fonts/DBYordX.woff') format('woff'), url('fonts/DBYordX.ttf')  format('truetype'), url('fonts/DBYordX.svg#DBYordX') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('fonts/kanit/Kanit-Light.eot');
  src: url('fonts/kanit/Kanit-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/kanit/Kanit-Light.woff') format('woff'),
  url('fonts/kanit/Kanit-Light.ttf') format('truetype'),
  url('fonts/kanit/Kanit-Light.svg#Kanit-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: url('fonts/kanit/Kanit-Medium.eot');
  src: url('fonts/kanit/Kanit-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/kanit/Kanit-Medium.woff') format('woff'),
  url('fonts/kanit/Kanit-Medium.ttf') format('truetype'),
  url('fonts/kanit/Kanit-Medium.svg#Kanit-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: url('fonts/kanit/Kanit-Bold.eot');
  src: url('fonts/kanit/Kanit-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/kanit/Kanit-Bold.woff') format('woff'),
  url('fonts/kanit/Kanit-Bold.ttf') format('truetype'),
  url('fonts/kanit/Kanit-Bold.svg#Kanit-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: url('fonts/kanit/Kanit-Regular.eot');
  src: url('fonts/kanit/Kanit-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/kanit/Kanit-Regular.woff') format('woff'),
  url('fonts/kanit/Kanit-Regular.ttf') format('truetype'),
  url('fonts/kanit/Kanit-Regular.svg#Kanit-Regular') format('svg');
  font-weight: 500;
  font-style: normal;
}