<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Career>
            <version>0.1.6</version>
        </Magebuzz_Career>
    </modules>
    <frontend>
        <routers>
            <career>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Career</module>
                    <frontName>career</frontName>
                </args>
            </career>
        </routers>
        <layout>
            <updates>
                <career>
                    <file>career.xml</file>
                </career>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magebuzz_Career>
                    <files>
                        <default>Magebuzz_Career.csv</default>
                    </files>
                </Magebuzz_Career>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magebuzz_Career before="Mage_Adminhtml">Magebuzz_Career_Adminhtml</Magebuzz_Career>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <career>
                    <file>career.xml</file>
                </career>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <career>
                <class>Magebuzz_Career_Model</class>
                <resourceModel>career_mysql4</resourceModel>
            </career>
            <career_mysql4>
                <class>Magebuzz_Career_Model_Mysql4</class>
                <entities>
                    <job>
                        <table>career_job</table>
                    </job>
                    <application>
                        <table>career_application</table>
                    </application>
                    <worktype>
                        <table>career_worktype</table>
                    </worktype>
                </entities>
            </career_mysql4>
        </models>
        <resources>
            <career_setup>
                <setup>
                    <module>Magebuzz_Career</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </career_setup>
            <career_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </career_write>
            <career_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </career_read>
        </resources>
        <blocks>
            <career>
                <class>Magebuzz_Career_Block</class>
            </career>
            <page>
                <rewrite>
                    <html_pager>Magebuzz_Career_Block_Page_Html_Pager</html_pager>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <career>
                <class>Magebuzz_Career_Helper</class>
            </career>
        </helpers>
    </global>
</config>