<?xml version="1.0"?>
<config>
  <tabs>
    <magebuzz translate="label">
      <label>Career</label>
      <sort_order>400</sort_order>
    </magebuzz>
  </tabs>
  <sections>
    <career translate="label" module="career">
      <label>Career</label>
      <tab>magebuzz</tab>
      <frontend_type>text</frontend_type>
      <sort_order>301</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <general translate="label">
          <label>General Setting</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <enable translate="label">
              <label>Enable Module</label>
              <frontend_type>select</frontend_type>
              <sort_order>1</sort_order>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enable>
            <template_email translate="label">
              <label>Choose Email Template</label>
              <frontend_type>select</frontend_type>
              <sort_order>2</sort_order>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </template_email>
          </fields>
        </general>
      </groups>
    </career>
  </sections>
</config>