#ampinbar-pin {
    background: url(../../../images/ampinbar/pin.png) no-repeat;
    background-position: 0 -18px;
    width: 18px;
    height: 18px;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
#ampinbar-pin.attached {
    background-position: 0 0;
    cursor: default;
}
#ampinbar-bar {
    background: #d9d9d9;
    background: linear-gradient(to top, #cccccc, #eae9ea);
    border-bottom: 1px solid #949494;
    padding: 5px 30px 0;
}
.header #ampinbar-bar {
    text-align: left;
}
#ampinbar-bar .tab {
    width: 150px;
    height: 21px;
    border: 1px solid #d0d0d1;
    background: #f7f7f7;
    display: inline-block;
}
#ampinbar-bar .tab .title {
    width: 115px;
    overflow: hidden;
    float: left;
}
#ampinbar-bar .tab .title-span {
    padding-left: 6px;
    white-space: nowrap;
    background: none;
    border: none;
    color: #000000;
}
#ampinbar-bar .tab .title-input {
    width: 109px;
    padding-left: 6px;
    display: block;
    float: left;
    border: none;
    height: 19px;
}
#ampinbar-bar .tab .edit {
    float: right;
    margin-top: 2px;
}
#ampinbar-bar .tab .rename {
    background: url(../../../images/ampinbar/rename.png) no-repeat;
    background-position: 0 -11px;
    width: 8px;
    height: 11px;
    border-right: 1px solid #cfd0d0;
    padding-right: 4px;
    display: inline-block;
    margin-top: 3px;
    cursor: pointer;
}
#ampinbar-bar .tab .rename:hover {
    background-position: 0 0;
}
#ampinbar-bar .tab .delete {
    background: url(../../../images/ampinbar/delete.png) no-repeat;
    background-position: 0 -7px;
    width: 7px;
    height: 7px;
    padding-left: 5px;
    display: inline-block;
    margin-bottom: 2px;
    cursor: pointer;
}
#ampinbar-bar .tab .delete:hover {
    background-position: 0 0;
}
#ampinbar-bar a {
    color: #000000;
    cursor: pointer;
    display: block;
    float: left;
    height: 19px;
    width: 115px;
    position: absolute;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(99, 99, 99, 0) 0%, rgba(99, 99, 99, 0) 90%, rgba(247, 247, 247, 1) 100%) repeat scroll 0 0;

}
.adminhtml-faq-edit #faq_tabs_form_section_content table{
    width: 100%;
}
.adminhtml-faq-edit .form-list td.label,
.adminhtml-faq-edit .form-list td.label label{
    width: 70px !important;
}