<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Delivery>
            <version>0.1.0</version>
        </Magebuzz_Delivery>
    </modules>
    <global>
        <models>
            <delivery>
                <class>Magebuzz_Delivery_Model</class>
                <resourceModel>delivery_resource</resourceModel>
            </delivery>
            <delivery_resource>
                <class>Magebuzz_Delivery_Model_Resource</class>
            </delivery_resource>
        </models>
        <blocks>
            <delivery>
                <class>Magebuzz_Delivery_Block</class>
            </delivery>
        </blocks>
        <helpers>
            <delivery>
                <class>Magebuzz_Delivery_Helper</class>
            </delivery>
        </helpers>
    </global>
    <frontend>
        <routers>
            <delivery>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Delivery</module>
                    <frontName>delivery</frontName>
                </args>
            </delivery>
        </routers>
        <layout>
            <updates>
                <delivery>
                    <file>delivery.xml</file>
                </delivery>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magebuzz_Delivery>
                    <files>
                        <default>Magebuzz_Delivery.csv</default>
                    </files>
                </Magebuzz_Delivery>
            </modules>
        </translate>
    </frontend>
</config>