.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.searchautocomplete {
  height: 46px;
  width: 550px;
  padding:0px 58px 0 0 ;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  display: inline-block;
  margin:auto;
  position:relative;

}
.searchautocomplete .sprite {
  background: url('../../../images/mirasvit/sprite.png');
}
.searchautocomplete > label {
  float: left;
  margin-right: 10px;
  color: #333;
  font-weight: bold;
  margin-top: 8px;
}
.searchautocomplete .nav {
  float: left;
  height: 46px;
  position: relative;
  width: 100%;
  border:solid 1px #DADADA;
  border-radius:3px 0 0 3px;
  padding-top:8px;
  padding-bottom:8px;
}
.searchautocomplete .nav .nav-search-in {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.searchautocomplete .nav .nav-search-in .category {
  opacity: 0;
  filter: alpha(opacity=0);
  background: white;
  border: 1px solid #DDD;
  color: black;
  cursor: pointer;
  height: 29px;
  left: 5px;
  margin: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  visibility: visible;
  width: auto;
}
.searchautocomplete .nav .nav-search-in .category-fake {
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-right: 1px solid #dddddd;
  color: #5D5D5D;
  cursor: pointer;
  float: left;
  font-size: 14px;
  height: 45px;
  line-height: 46px;
  margin: 0px 0px 0px 2px;
  padding: 0px 25px 0px 10px;
  text-align: center;
  white-space: nowrap;
}
.searchautocomplete .nav .nav-search-in .nav-down-arrow {
  right: 6px;
  top: 18px;
  position: absolute;
  width: 10px;
  height: 10px;
  background:url(images/arrow.png) no-repeat center center;
}

.searchautocomplete .nav .nav-input {
  *zoom: 1;
  margin: 0;
  padding: 0px 5px 0px 5px;
  z-index: 12;
  position: relative;
  height:30px;
  line-height:30px;
}
.searchautocomplete .nav .nav-input:before,
.searchautocomplete .nav .nav-input:after {
  display: table;
  content: "";
  line-height: 0;
}
.searchautocomplete .nav .nav-input:after {
  clear: both;
}
.searchautocomplete .nav .nav-input input {
  z-index: 10;
  padding: 0px;
  height: 23px;
  line-height:30px;
  border: 0px;
  font-size: 14px;
  background: transparent;
  color: black;
  outline: 0px;
  margin-left: 18px;
  width: 100%;
  color:#9C9C9C;
}
.searchautocomplete .nav .nav-input input.suggest {
  display: none;
  color: #999;
  z-index: 9;
}
.searchautocomplete .nav-submit-button {
}
.searchautocomplete .nav-submit-button .button {
  width:58px;
  height:46px;
  position:absolute;
  top:0px;
  right:0px;
  background:url(images/icon-search.png) no-repeat center center #FFC222;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  z-index: 14;
  text-indent:-9999px;
}

.searchautocomplete .searchautocomplete-placeholder {
  background: #FFF;
  padding: 0px;
  position: absolute;
  right: -1px;
  top: 44px;
  width: 100%;
  z-index: 102;
  border:solid 1px #E6E6E6;
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
}

.searchautocomplete .searchautocomplete-placeholder ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.searchautocomplete .searchautocomplete-placeholder ul li {
  *zoom: 1;
  text-align: left;
  padding: 20px;
  margin-bottom: 0px;
  border-bottom: 1px solid #E6E6E6;
  font-size:12px;
  color:#444;
  font-weight:normal;
}
.searchautocomplete .searchautocomplete-placeholder ul li:before,
.searchautocomplete .searchautocomplete-placeholder ul li:after {
  display: table;
  content: "";
  line-height: 0;
}
.searchautocomplete .searchautocomplete-placeholder ul li:after {
  clear: both;
}
.searchautocomplete .searchautocomplete-placeholder ul li a {
  text-decoration: none;
}
.searchautocomplete .searchautocomplete-placeholder ul li a.name {
  color: #000;
  font-weight: normal;
  display: block;
  margin-bottom: 3px;
  font-size:14px;
  text-transform:uppercase;
}
.searchautocomplete .searchautocomplete-placeholder ul li a .pull-right {
  float: right;
}
.searchautocomplete .searchautocomplete-placeholder ul li.active {
  background-color: #fafafa;
  cursor: pointer;
}
.searchautocomplete .searchautocomplete-placeholder ul li.active a {
  text-decoration: none;
}
.searchautocomplete .searchautocomplete-placeholder ul li .searchautocomlete-image {
  float: left;
  margin: 0px 10px 5px 0px;
}
.searchautocomplete .searchautocomplete-placeholder ul li .product-info {padding-left:80px;}
.searchautocomplete .searchautocomplete-placeholder ul li .price-box {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  float: left;
}

.searchautocomplete .searchautocomplete-placeholder ul li .price-box .regular-price .price-label,
.searchautocomplete .searchautocomplete-placeholder ul li .price-box .old-price .price-label,
.searchautocomplete .searchautocomplete-placeholder ul li .price-box .special-price .price-label {
  display: none;
}
.searchautocomplete .searchautocomplete-placeholder ul li .price-box .price-label {
  font-weight: normal;
  color: #999;
}
.searchautocomplete .searchautocomplete-placeholder ul li .price-box .old-price  {float:left; margin-top:2px;}
.searchautocomplete .searchautocomplete-placeholder ul li .price-box .special-price {float:right; padding-right:0px; padding-left:10px;}
.searchautocomplete .searchautocomplete-placeholder ul li .price-box .old-price .price {
  font-size: 10px;
  color: #5D5D5D;
  font-weight: 300;
}
.searchautocomplete .searchautocomplete-placeholder ul li .highlight strong {
  /* color: #f00; */
  font-weight:normal;
}
.searchautocomplete .searchautocomplete-placeholder ul li .ratings {
  margin: 0;
  line-height: 14px;
}
.searchautocomplete .searchautocomplete-placeholder ul li .ratings .rating-box {
  float: left;
  margin: 0 5px 0 0;
}
.searchautocomplete .searchautocomplete-placeholder .index-title {
  text-align: right;
  color: #0A263C;
  border-bottom: 1px solid #CCC;
  padding: 2px 5px;
}
.searchautocomplete .searchautocomplete-placeholder .index-title span {
  color: #666;
  font-size: 0.9em;
}
.searchautocomplete .searchautocomplete-placeholder .all a {
    margin: 0px;
    text-align: center;
    padding: 10px;
    line-height: 30px;
    background: #EFEFEF;
    display:block;
}
.searchautocomplete .searchautocomplete-placeholder .all a span {
  display:inline-block;
  position:relative;
  padding-right:15px;
}
.searchautocomplete .searchautocomplete-placeholder .all a span:before {content:""; width:0px; height:0px; position:absolute; top:50%; right:0px; margin-top:-4px; border-left:solid 7px #252525; border-bottom:solid 4px transparent; border-top:solid 4px transparent;}

.searchautocomplete .searchautocomplete-loader {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 10px;
  z-index: 99;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  display: none;
}
.searchautocomplete .searchautocomplete-loader div {
  position: absolute;
  background-color: #FFFFFF;
  height: 3px;
  width: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-animation-name: f_autocomplete_loader;
  animation-name: f_autocomplete_loader;
  -webkit-animation-duration: 0.64s;
  animation-duration: 0.64s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
.searchautocomplete .searchautocomplete-loader div#g01 {
  left: 0px;
  top: 7px;
  -webkit-animation-delay: 0.24s;
  animation-delay: 0.24s;
}
.searchautocomplete .searchautocomplete-loader div#g02 {
  left: 2px;
  top: 2px;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.searchautocomplete .searchautocomplete-loader div#g03 {
  left: 7px;
  top: 0px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.searchautocomplete .searchautocomplete-loader div#g04 {
  right: 2px;
  top: 2px;
  -webkit-animation-delay: 0.48s;
  animation-delay: 0.48s;
}
.searchautocomplete .searchautocomplete-loader div#g05 {
  right: 0px;
  top: 7px;
  -webkit-animation-delay: 0.56s;
  animation-delay: 0.56s;
}
.searchautocomplete .searchautocomplete-loader div#g06 {
  right: 2px;
  bottom: 2px;
  -webkit-animation-delay: 0.64s;
  animation-delay: 0.64s;
}
.searchautocomplete .searchautocomplete-loader div#g07 {
  left: 7px;
  bottom: 0px;
  -webkit-animation-delay: 0.72s;
  animation-delay: 0.72s;
}
.searchautocomplete .searchautocomplete-loader div#g08 {
  left: 2px;
  bottom: 2px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
@-moz-keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-ms-keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-o-keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
.searchautocomplete-widget {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
 @media (max-width: 1199px) {
  .searchautocomplete  {width:435px;}
 }
 @media (max-width: 767px) {
  .searchautocomplete {width:100%; padding:0px;}
  .searchautocomplete .nav {background:#252525; padding:10px 10px 10px 40px; height:50px;}
  .searchautocomplete .nav .nav-search-in {display:none;}
  .searchautocomplete .nav-submit-button .button {width:24px; height:24px; background:url(images/icon-search-mobile.png) no-repeat center center transparent; top:14px; left:40px; text-indent:-9999px;}
  .searchautocomplete .nav .nav-input {background:#fff; border:solid 1px #DADADA; border-radius:3px; padding:0px 0 0 30px!important;}
  .searchautocomplete .nav .nav-input input {margin:0px;}
  .clear-search {position:absolute; top:10px; right:15px; z-index:99; width:20px; height:30px; text-indent:-9999px; background:url(images/delete.png) no-repeat center center;}
  .box-keyword  {float:left; width:100%; text-align:left; padding:10px; }
  .box-keyword label {font-size:14px; font-weight:normal; color:#FFC222; }
  .box-keyword a {display:block; padding-left:18px;}
  .searchautocomplete .searchautocomplete-loader {top:15px; right:33px;}
  .searchautocomplete .searchautocomplete-placeholder ul {max-height:300px; overflow-y:auto;}
  .searchautocomplete .searchautocomplete-placeholder {top:48px;}
 }














