<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                  <td class="border-top"><div style="width:631px; margin:auto;">
<div style="text-align: center;background: #FFF;">
                        <b>Index Living Mall Co.,Ltd.</b><br>147 Rama 2 Soi 50, Rama 2 road, Samaedam, Bangkhunthien, <br>angkok 10150 THAILAND<br>Call us : 0-2417-1111 (08.30 - 17.30 Monday - Friday)<br>
                        E-mail: <a href="mailto:customer_service@indexlivingmall.com"></a>customer_service@indexlivingmall.com<br>Index Shop Online: www.indexlivingmall.com<br>
  <img src="{{skin url='images/social-icons-email.png' _area='frontend'}}" alt="" usemap="#Map" border="0">
                        <map name="Map" id="Map">
                          <area shape="circle" coords="63,54,15" href="http://twitter.com/indexlivingmall" target="_blank" />
                          <area shape="circle" coords="110,53,15" href="http://www.youtube.com/indexfurniture" target="_blank" />
                          <area shape="circle" coords="157,53,17" href="https://www.instagram.com/indexlivingmall/" target="_blank" />
                          <area shape="circle" coords="15,53,15" href="https://www.facebook.com/Indexlivingmall/" target="_blank" />
                        </map>
  </div>
                    </div>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- End wrapper table -->
</body>
