<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Mageplace_Flippingbook
 */
-->
<config>
    <modules>
        <Mageplace_Flippingbook>
            <version>0.1.3</version>
        </Mageplace_Flippingbook>
    </modules>
    <global>
        <models>
            <flippingbook>
                <class>Mageplace_Flippingbook_Model</class>
                <resourceModel>flippingbook_resource</resourceModel>
            </flippingbook>
            <flippingbook_resource>
                <class>Mageplace_Flippingbook_Model_Resource</class>
                <entities>
                    <category>
                        <table>flippingbook_category</table>
                    </category>
                    <template>
                        <table>flippingbook_template</table>
                    </template>
                    <resolution>
                        <table>flippingbook_resolution</table>
                    </resolution>
                    <magazine>
                        <table>flippingbook_magazine</table>
                    </magazine>
                    <magazine_store>
                        <table>flippingbook_magazine_store</table>
                    </magazine_store>
                    <product_magazine>
                        <table>flippingbook_product_magazine</table>
                    </product_magazine>
                    <page>
                        <table>flippingbook_page</table>
                    </page>
                </entities>
            </flippingbook_resource>
        </models>
        <blocks>
            <flippingbook>
                <class>Mageplace_Flippingbook_Block</class>
            </flippingbook>
        </blocks>
        <helpers>
            <flippingbook>
                <class>Mageplace_Flippingbook_Helper</class>
            </flippingbook>
        </helpers>
        <resources>
            <flippingbook_setup>
                <setup>
                    <module>Mageplace_Flippingbook</module>
                </setup>
            </flippingbook_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <flippingbook>
                <use>standard</use>
                <args>
                    <module>Mageplace_Flippingbook</module>
                    <frontName>flippingbook</frontName>
                </args>
            </flippingbook>
        </routers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <backorder>
                        <class>flippingbook/observer</class>
                        <method>processCoreBlockAbstractToHtmlAfter</method>
                    </backorder>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <Mageplace_Flippingbook>
                    <files>
                        <default>Mageplace_Flippingbook.csv</default>
                    </files>
                </Mageplace_Flippingbook>
            </modules>
        </translate>
        <layout>
            <updates>
                <flippingbook>
                    <file>flippingbook.xml</file>
                </flippingbook>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mageplace_Flippingbook>
                    <files>
                        <default>Mageplace_Flippingbook.csv</default>
                    </files>
                </Mageplace_Flippingbook>
            </modules>
        </translate>
        <layout>
            <updates>
                <flippingbook>
                    <file>flippingbook.xml</file>
                </flippingbook>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <flippingbook>
                        <type>singelton</type>
                        <class>flippingbook/observer</class>
                        <method>processAdminhtmlBlockHtmlBefore</method>
                    </flippingbook>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <flippingbook before="Mage_Adminhtml">Mageplace_Flippingbook_Adminhtml</flippingbook>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <flippingbook>
            <filesystem>
                <flippingbook>{{media_dir}}/flippingbook</flippingbook>
                <images>{{flippingbook_dir}}/images</images>
                <pdf>{{flippingbook_dir}}/pdf</pdf>
                <system>{{flippingbook_dir}}/system</system>
                <page>{{images_dir}}/page_images</page>
                <thumbnail>{{images_dir}}/thumbnail</thumbnail>
                <logo>{{images_dir}}/logo</logo>
                <tmp>{{flippingbook_dir}}/tmp</tmp>
            </filesystem>
        </flippingbook>
    </default>
</config>
