.dealerlocator {
	float:left; width:100%;
  margin-top:40px;
}

.dealerlocator .col2-set .col-1 {
  float: left;
  width: 48.5%;
}

.dealerlocator .col2-set .col-2 {
  float: right;
  width: 48.5%;
}

.dealerlocator .fieldset {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin: 28px 0;
  padding: 22px 20px 12px;
}

.dealerlocator .fieldset .legend {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  color: #464646;
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin: -40px 0 0 -10px;
  padding: 5px 8px;
  position: relative;
}

.dealerlocator h4 {
  font-weight: normal;
  font-size: 13px;
  color: #464646;
}

.dealerlocator .form-list label {
  font-weight: normal;
  font-size: 12px;
  color: #464646;
}

.dealerlocator .buttons-set {
  clear: both;
  float: left;
  padding: 10px 0 10px;
  text-align: left;
  margin: 0;
  border: 0 none;
}

.dealerlocator .buttons-set button.button {
  float: left;
  margin-left: 0;
  margin-right: 10px
}

.dealer-body {
  float: left;
  width: 100%;
  margin: 0 0 15px;
}

#dealer-search-result {
  float: left;
  width: 200px;
  height: 470px;
  background: #FFFFFF;
  padding: 22px 0 0 10px;
  border: 1px solid #CCCCCC;
  margin: 0;
}

#dealer-search-result .legend {
  margin: -40px 0 0;
}

#dealer-search-result .list-result {
  float: left;
  width: 100%;
  height: 470px;
  overflow-y: scroll;
}

#dealer-search-result .list-result ul li {
  float: left;
  width: 100%;
  margin: 0 0 5px;
  padding: 0 0 5px;
  border-bottom: 1px dotted #CCCCCC;
}

#dealer-search-result .list-result ul li h5 {
  background: url(images/dealerlocator/store-icon.png) left center no-repeat;
  padding-left: 20px;
  color: #496ead;
  font-size: 13px;
  font-weight: bold;
}

.dealer-search .input-box-keyword {
  max-width: 365px;
  border: 1px solid #C0C0C0;
}

.dealer-search input#dealer-search-text {
  float: left;
}

.dealer-search #loader-image {
  padding: 5px;
}

.dealer-search input.search-submit {
  float: right;
  width: 16px;
  height: 16px;
  background: 0 none;
  border: 0 none;
  cursor: pointer;
  background: url(images/dealerlocator/bkg-search-submit.png) top right no-repeat;
  margin: 5px 5px 5px 10px;
}

.dealerlocator .search-result {
}

.dealerlocator .search-result .list-result {
}

.dealerlocator .search-result .list-result .data-table {
  margin: 0 0 10px;
}

.list-all-dealer .data-table thead th {
  background: #FFC222;
  color: #FFFFFF;
  font-weight: bold;
}

.list-all-dealer .data-table td {
  padding: 6px 10px;
  vertical-align: middle;
}

.list-all-dealer .data-table tbody th, .list-all-dealer .data-table tbody td {
}

.list-all-dealer .data-table tbody td.store-name {
  background: url(images/dealerlocator/store-icon.png) 5px center no-repeat;
  padding-left: 25px;
  color: #496ead;
  font-size: 13px;
  font-weight: bold;
}

.list-all-dealer .dealer-email {
  color: #496ead;
  text-decoration: none;
}

.list-all-dealer .data-table tr {
  cursor: pointer;
}

.list-all-dealer .data-table tr:hover {
  background-color: #ccc;
}

.view-dealers{background:#FFFFFF url(images/dealerlocator/i-dealer-blk.png) 10px center no-repeat; padding:3px 5px 3px 25px; font-family: 'DBYordXMed'; font-size:17px; color:#000000; border-radius:5px;}
.view-dealers.active{background:#000000 url(images/dealerlocator/i-dealer-sm-white.png) 10px center no-repeat; color:#FFFFFF;}
.view-dealers span{background:url(images/dealerlocator/arrow-down.gif) right center no-repeat; padding-right:15px;}
.view-dealers.active span{background:url(images/dealerlocator/arrow-down-active.png) right center no-repeat;}

#product-dealer{max-width:1200px;}
.product-dealer-body-2columns{}

.product-dealer-body-2columns h2.legend{font-family: 'DBYordXMed'; font-size:28px; background:#252525; padding:15px 20px; color:#FFFFFF; border-radius:4px 4px 0 0;}

.product-dealer-body-2columns .product-dealers-popup{}
.product-dealer-body-2columns .gmap{float:right; width:65%;  padding:0 20px;}
.list-all-product-dealer{float:left; width:35%; padding:0 0 0 20px; margin:0 0 20px;}
.list-all-product-dealer .product-dealerscroll{
	max-height: 400px;
  overflow-y: auto;  
  overflow-x: hidden; 
	display:none;
}
.list-all-dealer.list-all-product-dealer .product-dealerscroll {max-height:464px;}

.list-all-product-dealer .dealer-pager{
	padding:5px 10px 5px 35px; 
	overflow:hidden; 
	background:#FFC222 url(images/dealerlocator/i-dealer.png) 10px center no-repeat;
	margin:0 0 5px;
}
.list-all-product-dealer .dealer-pager .amount,
.list-all-product-dealer .dealer-pager .pager{padding:0; margin:0; font-size:18px; color:#FFFFFF; /* font-family:'DBYordXMed';  */font-family: 'RSU_Bold';display:block;}
.list-all-product-dealer .dealer-pager .pager .pages{float:right;}
.list-all-product-dealer .dealer-pager .pager .pages ol li{display:none;}
.list-all-product-dealer .dealer-pager .pager .pages ol li#li_page_previous,
.list-all-product-dealer .dealer-pager .pager .pages ol li#li_page_next,
.list-all-product-dealer .dealer-pager .pager .pages ol li.li-next,
.list-all-product-dealer .dealer-pager .pager .pages ol li.li-previous{display:block;}
.list-all-product-dealer .dealer-pager .pager .pages strong{display:none;}


.list-all-product-dealer .dealer-pager .pager .pages a.previous,
.list-all-product-dealer .dealer-pager .pager .pages a.next{width:20px; display:block!important;}
.list-all-product-dealer .dealer-pager .pager .pages .previous:before {
    background: url(images/dealerlocator/dealer-i-prev.png) no-repeat center center;
		width:10px;
		height:25px;
}
.list-all-product-dealer .dealer-pager .pager .pages .next:before {
    background: url(images/dealerlocator/dealer-i-next.png) no-repeat center center;
		width:10px;
		height:25px;
}
.list-all-dealer.list-all-product-dealer .dealer-pager .pager .pages .previous:before,
.list-all-dealer.list-all-product-dealer .dealer-pager .pager .pages .next:before {height:20px;}

.list-all-product-dealer .dealer-pager .limiter{display:none;}
.list-all-product-dealer ul li{float:left; width:100%; padding:10px 0; border-bottom:1px solid #e6e6e6; cursor: pointer; position:relative;}
.list-all-product-dealer.list-all-dealer-by-tag ul li{padding:0; border:0 none;}
.list-all-product-dealer ul li .dealer-map{position:absolute; right:0; bottom:10px;}

.list-all-product-dealer ul li h3{
	color:#ffc222;
	font-family:Tahoma;
	font-size:14px;
	margin:0 0 5px;
	font-weight:bold;
	background:url(images/dealerlocator/icon-link.png) center right no-repeat;
	padding-right:25px;
	float:left;
	display:block;
	clear:both;
	text-transform:none;
}
.list-all-product-dealer ul li h4{
	color:#000;
	font-family:Tahoma;
	font-size:14px;
	margin:0 0 5px;
	clear:both;
	text-transform:none;
	font-weight:normal;
}
.list-all-product-dealer ul li a{text-decoration: none;}

.dealer-body-2columns .list-all-dealer {
  width: 34%;
  float: left;
  padding-left:0px;
  padding-right:20px;
}

.dealer-body-2columns .gmap {
  width: 66%;
  float: right;
  padding:0px;
}

.list-all-dealer-by-tag .fieldset ul li {
  float: left;
  margin-right: 10px;
}

.list-all-dealer-by-tag a {
  background: linear-gradient(to bottom, #FFC222 1%, #FFC222 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  color: #FAFAFA;
  display: inline-block;
  font-size: 11pt;
  line-height: 27px;
  margin-bottom: 5px;
  padding: 0 12px;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.list-all-dealer-by-tag .tag_active {
  background: none repeat scroll 0 0 #B6DA25;
}

td .dealer-label {
  display: none;
}
.dealermap-container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	display: block;
	z-index: 9010;
	background: linear-gradient(rgba(11, 11, 11, 0.1), rgba(11, 11, 11, 0.6)) repeat-x scroll 0 0 rgba(11, 11, 11, 0.2);
}
.dealer-map-preview{
	position: absolute;
	left: 50%;
	top: 40%;
	width: 450px;
	margin-left: -225px;
	margin-top: -100px;
	text-align: center;
	z-index: 9040;
	max-height: 480px;
	background:#FFFFFF; 
	padding:5px; 
}

@media (max-width: 480px) {
  /* Data Table */
  td .dealer-label {
    width: 80px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
  }

  table.data-table {
    border: 0 none;
  }

  table.data-table table,
  table.data-table thead,
  table.data-table tbody,
  table.data-table th,
  table.data-table td,
  table.data-table tr {
    display: block;
    border: 0;
    text-align: left !important;
  }

  table.cart-table tr td.product-img {
    text-align: center !important;
  }

  table.data-table thead tr {
    display: none;
  }

  table.data-table th, table.data-table td {
    padding: 10px 10px;
  }

  table.data-table td a.product-image {

    /* width:auto; */

    max-width: 100%;

    margin: 0 auto;

  }

  table.data-table td a.product-image img {
    width: 100%;
  }

  table.data-table td .cart-label {
    width: 80px;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
  }

  table.data-table td.last {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 12px;
  }

  .dealer-body-2columns .list-all-dealer {
    width: 100%;
    padding:0px;
    margin-top:10px;
  }
  .dealerlocator {margin-top:30px;}
  .dealer-body-2columns .gmap {
    width: 100%;
    margin: 10px 0 0;
    position: relative;
    padding-bottom: 100%;
  }
  .dealer-body-2columns .gmap #map_canvas {
    position: absolute!important;
    top: 0px;
    left: 0px;
    max-height: 100%;
  }
	.product-dealer-body-2columns .list-all-product-dealer {
    width: 100%;
		padding:0 10px;
  }

	.product-dealer-body-2columns .gmap {
    width: 100%;
    margin: 0 0 10px;
		padding:0 10px;
  }
	#product_dealer_map_canvas{max-width:100%;}
	.view-dealers-link{
		display: block;
    overflow: hidden;
    clear: both;
    margin: 0 10px;
    text-align: center;
    border: solid 1px #E6E6E6;
    background: #F8F8F8;
    padding: 10px;
	}
	.view-dealers{background-color:#F8F8F8; width:140px;margin:0 auto;clear: both;float: none!important;display: block;}
}

@media (min-width: 481px) and (max-width: 600px) {
  /* Data Table */
  td .dealer-label {
    width: 80px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
  }

  table.data-table {
    border: 0 none;
  }

  table.data-table table,
  table.data-table thead,
  table.data-table tbody,
  table.data-table th,
  table.data-table td,
  table.data-table tr {
    display: block;
    border: 0;
    text-align: left !important;
  }

  table.cart-table tr td.product-img {
    text-align: center !important;
  }

  table.data-table thead tr {
    display: none;
  }

  table.data-table th, table.data-table td {
    padding: 10px 10px;
  }

  table.data-table td a.product-image {

    /* width:auto; */

    max-width: 100%;

    margin: 0 auto;

  }

  table.data-table td a.product-image img {
    width: 100%;
  }

  table.data-table td .cart-label {
    width: 80px;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
  }

  table.data-table td.last {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 12px;
  }

  .dealer-body-2columns .list-all-dealer {
    width: 100%;
  }

  .dealer-body-2columns .gmap {
    width: 100%;
    margin: 10px 0 0;
  }
	
	.product-dealer-body-2columns .list-all-product-dealer {
    width: 100%;
		padding:0 10px;
  }

	.product-dealer-body-2columns .gmap {
    width: 100%;
    margin: 0 0 10px;
		padding:0 10px;
  }
	#product_dealer_map_canvas{max-width:100%;}
	.view-dealers-link{
		display: block;
    overflow: hidden;
    clear: both;
    margin: 0 10px;
    text-align: center;
    border: solid 1px #E6E6E6;
    background: #F8F8F8;
    padding: 10px;
	}
	.view-dealers{background-color:#F8F8F8; width:140px;margin:0 auto;clear: both;float: none!important;display: block;}
}

@media (min-width: 601px) and (max-width: 767px) {
  .dealer-body-2columns .list-all-dealer {
    width: 100%;
  }
	
	.dealer-body-2columns .gmap {
    width: 100%;
    margin: 10px 0 0;
  }
	
	
	.product-dealer-body-2columns .list-all-product-dealer {
    width: 100%;
		padding:0 10px;
  }

	.product-dealer-body-2columns .gmap {
    width: 100%;
    margin: 0 0 10px;
		padding:0 10px;
  }
	#product_dealer_map_canvas{max-width:100%;}
}
@media (max-width: 1199px) {
	.product-dealer-body-2columns .list-all-product-dealer {
		padding:0 10px;
  }

	.product-dealer-body-2columns .gmap {
		padding:0 10px;
  }
	#product_dealer_map_canvas{max-width:100%;}
}

#dealer-search-autocomplete {
  background-color: white;
  border: solid 1px;
  overflow-y: scroll;
  height: 150px;
  /*font-size: 11px;*/
}

div.autocomplete ul li {
  padding-top: 5px;
}

div.autocomplete ul li.selected {
  background-color: #dcebf0;
}
.list-all-product-dealer .dealer-pager .pager {
    float: right;
    width: auto;
    clear: none;
}
#product_dealer_map_canvas {max-width:100%;}
#dealer-list  {float:left; width:100%;}
.dealerlocator  .h2-label {line-height:40px; padding:10px 30px; color:#fff; font-family: 'DBYordXMed'; font-size:28px; background:#252525; margin-bottom:10px; float:left; width:100%;}
.title-mobile {display:none;}
@media (max-width: 480px) {
  .dealerlocator .h2-label {background:#373737; line-height: 22px;text-align: center; font-size:20px; margin:0px; padding: 7px;}
  .title-mobile {display:block; float:left; width:100%; margin-bottom:0px; line-height:30px; padding:12px 10px 12px 35px; color:#fff; font-size:22px; font-family: 'DBYordXMed'; background:url(../../images/dealerlocator/icon1.png) no-repeat 16px center #252525;}
  
}