/* Layout Configuration */
.mobile {
  display: none;
}
@media (max-width: 770px) {
  .mobile {
    display: block;
  }
}
.mobile .mobile-block {
  display: none;
}
@media (max-width: 770px) {
  .mobile .mobile-block {
    display: block;
  }
}
.mobile.two-columns-left section.content,
.mobile.two-columns-right section.content {
  width: 100%;
  float: left;
}
.mobile.two-columns-left section.content .swipe-me,
.mobile.two-columns-right section.content .swipe-me {
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  -moz-transition: all 0.5s 0.3s ease-in-out;
  -o-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
  opacity: 0.5;
  text-indent: -10000px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: -15px;
  float: right;

}
.mobile.two-columns-left section.content .swipe-me:hover,
.mobile.two-columns-right section.content .swipe-me:hover {
  opacity: 0.7;
}
.mobile.two-columns-left section.content .swipe-me.right,
.mobile.two-columns-right section.content .swipe-me.right {
  background: url(../images/swipe_left.png) no-repeat 100% 50% transparent;
  background: url(../images/swipe_left.svg) no-repeat 100% 50% transparent;
  display: none;
}
.mobile.two-columns-left section.content .swipe-me.left,
.mobile.two-columns-right section.content .swipe-me.left {
  background: url(../images/swipe_right.png) no-repeat 100% 50% transparent;
  background: url(../images/swipe_right.svg) no-repeat 100% 50% transparent;
  display: none;
}
.mobile.two-columns-left aside,
.mobile.two-columns-right aside {
  position: fixed;
  width: 80%;
  max-width: 320px;
  top: 0;
  height: 100vh;
  background: #fff;
  z-index: 199999;
  padding: 20px;
}
.mobile.two-columns-left aside.right,
.mobile.two-columns-right aside.right,
.mobile.two-columns-left aside.left,
.mobile.two-columns-right aside.left {
  overflow-y: scroll;
  display: none;
}
.mobile.two-columns-left aside.right.active,
.mobile.two-columns-right aside.right.active,
.mobile.two-columns-left aside.left.active,
.mobile.two-columns-right aside.left.active {
  display: block;
  -webkit-box-shadow: 0px 0 15px 0 #333333;
  -moz-box-shadow: 0px 0 15px 0 #333333;
  box-shadow: 0px 0 15px 0 #333333;
}
.mobile.two-columns-left aside.right,
.mobile.two-columns-right aside.right {
  right: -80%;
}
.mobile.two-columns-left aside.right.active,
.mobile.two-columns-right aside.right.active {
  right: 0;
}
.mobile.two-columns-left aside.left,
.mobile.two-columns-right aside.left {
  /* None Active */
  left: -80%;
}
.mobile.two-columns-left aside.left.active,
.mobile.two-columns-right aside.left.active {
  left: 0;
}
.mobile.two-columns-left .mpblog-search input#search-blog,
.mobile.two-columns-right .mpblog-search input#search-blog {
  width: 100%;
}
.desktop {
  display: block;
}
@media (max-width: 770px) {
  .desktop {
    display: none;
  }
}
.desktop .desktop-block {
  display: block;
}
@media (max-width: 770px) {
  .desktop .desktop-block {
    display: none;
  }
}
.desktop.two-columns-left section.content,
.desktop.two-columns-right section.content,
.mpblog-2column-left .mpblog-col-content,
.mpblog-2column-right .mpblog-col-content{
  width: 76%;
  float: left;
}
.desktop.two-columns-left aside.left,
.desktop.two-columns-right aside.left,
.desktop.two-columns-left aside.right,
.desktop.two-columns-right aside.right,
.mpblog-2column-left .mpblog-col-left,
.mpblog-2column-right .mpblog-col-right{
  width: 24%;
  float: left;
}
.mpblog-2column-right .mpblog-col-right {
  float:right;
}
.desktop.two-columns-right section.content,
.mpblog-2column-right .mpblog-col-content{
  padding-right: 17px;
}
.desktop.two-columns-left section.content,
.mpblog-2column-left .mpblog-col-content{
  padding-left: 17px;
}
.desktop.three-columns section.content {
  width: 58%;
  float: left;
  padding: 0 18px;
}
.desktop.three-columns aside.left,
.desktop.three-columns aside.right {
  width: 18%;
  float: left;
}
/* List of Posts */

.mpblog-list.list .mpblog-post .thumbnail-container {
  overflow: hidden;
}
.mpblog-list.list .mpblog-post .post-thumbnail {
  -webkit-transition: -webkit-transform 0.3s 0.15s ease-out;
  -moz-transition: -moz-transform 0.3s 0.15s ease-out;
  -o-transition: -o-transform 0.3s 0.15s ease-out;
  transition: -webkit-transform 0.3s 0.15s ease-out,-moz-transform 0.3s 0.15s ease-out,-o-transform 0.3s 0.15s ease-out,transform 0.3s 0.15s ease-out;
}
.mpblog-list.list .mpblog-post .post-thumbnail:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.mpblog-list.list .mp-read-more {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  float: left;
}
.mpblog-list.grid {
  width: 100%;
}
.mpblog-list.grid .item {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  float: left;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mpblog-list.grid .item .post-container {
  overflow: hidden;
  background-color: #f4f4f4;
  padding: 10px;
}
.mpblog-list.grid .item .post-container .thumbnail-container {
  overflow: hidden;
}
.mpblog-list.grid .item .post-container .post-thumbnail {
  margin: -10px -10px 10px;
  -webkit-transition: -webkit-transform 0.3s 0.15s ease-out;
  -moz-transition: -moz-transform 0.3s 0.15s ease-out;
  -o-transition: -o-transform 0.3s 0.15s ease-out;
  transition: -webkit-transform 0.3s 0.15s ease-out,-moz-transform 0.3s 0.15s ease-out,-o-transform 0.3s 0.15s ease-out,transform 0.3s 0.15s ease-out;
}
.mpblog-list.grid .item .post-container .post-thumbnail:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.mpblog-list.grid .item .post-container .mp-footer {
  margin-bottom: 20px;
}
.mpblog-list.grid .item .post-container span.comments {
  float: left;
  margin-left: 0;
}
/* Grid Sizer */
.three-columns .mpblog-list.grid .grid-sizer {
  width: 33%;
}
.three-columns .mpblog-list.grid .item {
  width: 33%;
}
.three-columns .mpblog-list.grid .item.w2 {
  width: 66%;
}
.three-columns .mpblog-list.grid .item.w3 {
  width: 100%;
  padding: 0 !important;
}
@media only screen and (max-width: 1024px) {
  .three-columns .mpblog-list.grid .grid-sizer {
    width: 50%;
  }
  .three-columns .mpblog-list.grid .item {
    width: 50%;
  }
  .three-columns .mpblog-list.grid .item.w2,
  .three-columns .mpblog-list.grid .item.w3 {
    width: 100%;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 600px) {
  .three-columns .mpblog-list.grid .grid-sizer {
    width: 100%;
  }
  .three-columns .mpblog-list.grid .item {
    padding: 0 !important;
    width: 100%;
  }
  .three-columns .mpblog-list.grid .item.w3,
  .three-columns .mpblog-list.grid .item.w2 {
    width: 100%;
  }
}
.two-columns-right .mpblog-list.grid .grid-sizer,
.two-columns-left .mpblog-list.grid .grid-sizer {
  width: 25%;
}
.two-columns-right .mpblog-list.grid .item,
.two-columns-left .mpblog-list.grid .item {
  width: 25%;
}
.two-columns-right .mpblog-list.grid .item.w2,
.two-columns-left .mpblog-list.grid .item.w2 {
  width: 50%;
}
.two-columns-right .mpblog-list.grid .item.w3,
.two-columns-left .mpblog-list.grid .item.w3 {
  width: 75%;
}
@media only screen and (max-width: 1024px) {
  .two-columns-right .mpblog-list.grid .grid-sizer,
  .two-columns-left .mpblog-list.grid .grid-sizer {
    width: 50%;
  }
  .two-columns-right .mpblog-list.grid .item,
  .two-columns-left .mpblog-list.grid .item {
    width: 50%;
  }
  .two-columns-right .mpblog-list.grid .item.w3,
  .two-columns-left .mpblog-list.grid .item.w3,
  .two-columns-right .mpblog-list.grid .item.w2,
  .two-columns-left .mpblog-list.grid .item.w2 {
    width: 100%;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 600px) {
  .two-columns-right .mpblog-list.grid .grid-sizer,
  .two-columns-left .mpblog-list.grid .grid-sizer {
    width: 100%;
  }
  .two-columns-right .mpblog-list.grid .item,
  .two-columns-left .mpblog-list.grid .item {
    padding: 0 !important;
    width: 100%;
  }
  .two-columns-right .mpblog-list.grid .item.w3,
  .two-columns-left .mpblog-list.grid .item.w3,
  .two-columns-right .mpblog-list.grid .item.w2,
  .two-columns-left .mpblog-list.grid .item.w2 {
    width: 100%;
  }
}
.one-column .mpblog-list.grid .grid-sizer {
  width: 20%;
}
.one-column .mpblog-list.grid .item {
  width: 20%;
}
.one-column .mpblog-list.grid .item.w2 {
  width: 40%;
}
.one-column .mpblog-list.grid .item.w3 {
  width: 60%;
}
@media only screen and (max-width: 1024px) {
  .one-column .mpblog-list.grid .grid-sizer {
    width: 33%;
  }
  .one-column .mpblog-list.grid .item {
    width: 33%;
  }
  .one-column .mpblog-list.grid .item.w2 {
    width: 66%;
  }
  .one-column .mpblog-list.grid .item.w3 {
    width: 100%;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 600px) {
  .one-column .mpblog-list.grid .grid-sizer {
    width: 100%;
  }
  .one-column .mpblog-list.grid .item {
    padding: 0 !important;
    width: 100%;
  }
  .one-column .mpblog-list.grid .item.w3,
  .one-column .mpblog-list.grid .item.w2 {
    width: 100%;
  }
}
.mpblog-container.list .mp-pager {
  border-top: 1px solid #cccccc;
}
.mpblog-container .mp-pager {
  margin-top: 40px;
  padding: 10px 5px 0;
}
.mpblog-container .mp-pager .navi a {
  line-height: 16px;
  min-height: 16px;
  width: 45%;
}
.mpblog-container .mp-pager .newer a {
  float: right;
  text-align: right;
}
.mpblog-container .mp-pager .newer a i.glyphicons {
  margin-left: 5px;
}
.mpblog-container .mp-pager .older a {
  float: left;
  text-align: left;
}
.mpblog-container .mp-pager .older a i.glyphicons {
  margin-right: 5px;
}
/** Comments */
@media (max-width: 770px) {
  .comments-action {
    display: inline-block;
    margin-top: 20px;
  }
}
@media (min-width: 770px) {
  .comments-action {
    float: right;
  }
}
.comments-action .leave-a-comment {
  margin-left: 15px;
  line-height: 24px;
}
.comments-action .leave-a-comment a {
  text-transform: uppercase;
  font-size: larger;
}
.comments-action .blog-icon.rss {
  background: url("../images/assets/rss.png") no-repeat 0 0 transparent;
  /** One for elder */
  background: url("../images/assets/rss.svg") no-repeat 0 0 transparent;
  /** One for new */
}
@media (min-width: 770px) {
  .comments-action .blog-icon.rss {
    display: inline-block;
  }
}
.comments-action .blog-icon.rss,
.comments-action .leave-a-comment {
  float: left;
}
.mpblog-comments-container .comments-header {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
  position: relative;
}
.mpblog-comments-container .comments-header span.leave-a-comment {
  float: left;
  margin-left: 0;
}
.mpblog-comments-container .comments-header span.rss-comments {
  float: left;
  margin-left: 20px;
}
.mpblog-comments-container .mp-comment-header {
  margin-bottom: 10px;
}
.mpblog-comments-container .mp-comment-author,
.mpblog-comments-container .mp-comment-date,
.mpblog-comments-container .mp-comment-willapprove {
  float: left;
  margin-right: 10px;
}
.mpblog-comments-container .mp-comment-willapprove {
  color: red;
  font-style: italic;
  font-size: smaller;
}
.mpblog-comments-container .mp-replies {
  padding-left: 24px;
}
@media (max-width: 1024px) {
  .mpblog-comments-container .mp-replies {
    padding-left: 12px;
  }
}
@media (max-width: 600px) {
  .mpblog-comments-container .mp-replies {
    padding-left: 6px;
  }
}
.mp-comment-content,
.mp-comment-form {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #cccccc;
}
.mp-comment-content.my-comment {
  border-color: #3399cc;
}
.mp-comment-form {
  background-color: #f4f4f4;
}
.mp-comment-form h5 {
  text-transform: none;
}
.mp-blog-loader {
  background: url('../images/ajax-loader.gif') no-repeat scroll 50% 0 transparent;
  height: 11px;
  width: 16px;
  margin: 0 auto;
}
.comment-form-field {
  margin-bottom: 10px;
  position: relative;
}
.comment-form-field .checkbox + label {
  padding: 0;
}
.comment-form-field textarea,
.comment-form-field input[type="text"] {
  line-height: 1.5;
  padding: 5px !important;
}
.comment-form-field textarea {
  height: 72px;
  width: 100%;
  max-width: 460px;
}
.comment-form-field textarea,
.comment-form-field textarea:focus {
  background-color: #ffffff;
}
.comment-form-field input[type="checkbox"] {
  display: none;
}
.comment-form-field input[type="checkbox"] + label {
  width: auto;
  max-width: 100%;
  font-weight: normal;
  vertical-align: middle;
  line-height: 1;
}
.comment-form-field input[type="checkbox"] + label:before {
  content: "";
  background: white;
  float: left;
  margin-right: 5px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
}
.comment-form-field input[type="checkbox"]:checked + label:before {
  background: url("../images/assets/checked-input.png") no-repeat 50% 50% #ffffff;
  background: url("../images/assets/checked-input.svg") no-repeat 50% 50% #ffffff;
}
.comment-form-field input.text {
  width: 70% !important;
}
@media (max-width: 770px) {
  .comment-form-field input.text {
    width: 100% !important;
  }
}
.comment-form-field textarea,
.comment-form-field input.text {
  border: 1px solid #cccccc;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: -moz-box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.comment-form-field textarea.validation-failed,
.comment-form-field input.text.validation-failed {
  border: 1px dashed red;
}
.form-actions {
  text-align: right;
  position: relative;
}
.form-actions .mp-comment-reply-btn {
  text-transform: uppercase;
}
.form-actions .subscribe {
  position: absolute;
  left: 0;
  border-color: transparent;
}
.mpblog-container h1.mp-title {
  margin-bottom: 20px;
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  color: #252525;
}

.mp-blog-head h1 {
  float: left;
  margin-bottom: 0.25em;
  max-width: 90%;
}
@media (max-width: 1024px) {
  .mp-blog-head h1 {
    max-width: 85%;
    font-size: larger;
  }
}
@media (max-width: 770px) {
  .mp-blog-head h1 {
    max-width: 100%;
  }
}
.mp-blog-head a.mp-blog-rss-link,
.mp-blog-head a.mp-blog-print-link {
  font-size: smaller;
}
@media (max-width: 770px) {
  .mp-blog-head a.mp-blog-rss-link,
  .mp-blog-head a.mp-blog-print-link {
    display: none;
  }
}
.mp-blog-head span.mp-blog-rss,
.mp-blog-head span.mp-blog-print {
  float: right;
  margin-top: 4px;
}
@media (max-width: 770px) {
  .mp-blog-head span.mp-blog-rss,
  .mp-blog-head span.mp-blog-print {
    display: none;
  }
}
.mpblog-post {
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .mpblog-post .mp-post-header h2 {
    font-size: larger;
    margin-bottom: 0;
  }
}
.mpblog-post .post-thumbnail {
  margin-bottom: 1em;
}
.mpblog-post .post-thumbnail img.thumbnail {
  width: 100%;
}
@media (max-width: 1024px) {
  .mpblog-post .post-thumbnail {
    margin-bottom: 0.5em;
  }
}
.mpblog-post .mp-header {
  padding: 0.5em 0;
  margin-bottom: 1em;
}
@media (max-width: 1024px) {
  .mpblog-post .mp-header {
    border-top: none;
    margin-bottom: 0.5em;
  }
}
.mpblog-post .mp-header .posted-by,
.mpblog-post .mp-header .date,
.mpblog-post .mp-header .views {
  float: left;
}
@media (max-width: 1024px) {
  .mpblog-post .mp-header {
    border-top: none;
  }
}
.mpblog-post .mp-content div.mp-details {
  margin-top: 20px;
}
.mpblog-post .mp-content iframe.blog-video {
  margin-bottom: 1.5em !important;
}
.mpblog-post .mp-content hr.cutter {
  display: none;
}
.mpblog-post .mp-content ol,
.mpblog-post .mp-content ul {
  margin-left: 20px;
}
.mpblog-post .mp-content img {
  width: 100%;
}
.mpblog-post .mp-content img.alignleft {
  display: inline;
  float: left;
  margin: 0 20px 3px 0;
}
.mpblog-post .mp-content img.alignright {
  display: inline;
  float: right;
  margin: 0 0 3px 20px;
}
.mpblog-post .mp-content a > img {
  /*border: 1px solid #D0CBC1;*/
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: bottom;
  -webkit-transition: -webkit-box-shadow 0.15s 0.3s ease-in-out;
  -moz-transition: -moz-box-shadow 0.15s 0.3s ease-in-out;
  -o-transition: box-shadow 0.15s 0.3s ease-in-out;
  transition: box-shadow 0.15s 0.3s ease-in-out;
}
.mpblog-post .mp-content a > img:hover {
  -webkit-box-shadow: 0px 0px 6px 0 #cccccc;
  -moz-box-shadow: 0px 0px 6px 0 #cccccc;
  box-shadow: 0px 0px 6px 0 #cccccc;
}
.mpblog-post .mp-content blockquote {
  margin: 0 1.6em 1.5em;
  padding-left: 0;
  color: #777;
  font-style: italic;
}
.mpblog-post .mp-content table {
  margin-bottom: 1.5em;
}
.mpblog-post .mp-content table tr th {
  font-weight: bold;
  border-bottom: 2px solid #cccccc;
  background-color: #ffffff;
}
.mpblog-post .mp-content table tr td,
.mpblog-post .mp-content table tr th {
  padding: 5px 10px;
}
.mpblog-post .mp-content table tr:nth-child(odd) td {
  background-color: #ffffff;
}
.mpblog-post .mp-content table tr:nth-child(even) td {
  background-color: #f4f4f4;
}
.mpblog-post span.mp-tags,
.mpblog-post span.categories,
.mpblog-post span.posted-by,
.mpblog-post span.date,
.mpblog-post span.go-to-comments,
.mpblog-post span.leave-a-comment,
.mpblog-post span.comments,
.mpblog-post span.rss-comments,
.mpblog-post span.views {
  font-size: smaller;
}
.mpblog-post span.mp-tags {
  margin-right: 20px;
  float: left;
}
.mpblog-post span.mp-tags-pic {
  float: left;
  width: 20px;
}
.mpblog-post span.mp-tags-pic span.text {
  line-height: 16px;
  text-indent: -999em;
  display: block;
}
.mpblog-post span.categories {
  margin-right: 20px;
  float: left;
}
.mpblog-post span.categories-pic {
  float: left;
  display: block;
  width: 19px;
  height: 16px;
}
.mpblog-post span.categories-pic span.text {
  line-height: 16px;
  text-indent: -999em;
  display: block;
}
.mpblog-post span.posted-by {
  margin-right: 20px;
}
.mpblog-post span.date {
  margin-right: 20px;
}
.mpblog-post span.views {
  margin-right: 20px;
}
.mpblog-post span.comments {
  float: right;
  margin-left: 20px;
}
@media (max-width: 600px) {
  .mpblog-post span.comments {
    display: none;
  }
}
.mpblog-post i.glyphicons {
  margin-right: 5px;
}
.mpblog-post .customer-action-bar {
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 770px) {
  .mpblog-post .customer-action-bar {
    text-align: center;
  }
}
.blog-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  opacity: 0.8;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.blog-icon:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.blog-icon:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
/* Recent Comments and Posts */
.mp-recentcomment-date,
.mp-recentpost-date {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 2px;
  margin-top: 2px;
}
/* Fix Magento Calendar Styles */
i.glyphicons.calendar {
  border: none !important;
  background: none !important;
}
/* Sidebars */

.mpblog-categories .block-content {
  padding:0px;
}
.mpblog-categories ul li,
.mpblog-recentcomments ul li,
.mpblog-archives ul li {
  margin: 5px 0;
  position: relative;
}
.mpblog-categories ul li a,
.mpblog-recentcomments ul li a,
.mpblog-archives ul li a {
  font-size:16px;
  color:#252525;
}
/* Sidebar Blocks */
.sidebar-common ul li.active a {
  font-weight: normal;
  font-style: normal;
  color:#FFC222;
}
.sidebar-common ul li i.glyphicons,
.sidebar-common ul li i.glyphicons:before {
  font-size: smaller;
}
.sidebar-common ul li i.glyphicons {
  display: block;
  left: 4px;
  top: 2px;
  position: absolute;
}
.mpblog-categories ul li.active a,
.mpblog-recentcomments ul li.active a,
.mpblog-archives ul li.active a,
.mpblog-recentposts ul li.active a,
.mpblog-recentcomments ul li.active a,
.mpblog-archives ul li.active a {
  font-weight: normal;
  font-style: normal;
  color:#FFC222;
}
.mpblog-categories ul li i.glyphicons,
.mpblog-recentcomments ul li i.glyphicons,
.mpblog-archives ul li i.glyphicons,
.mpblog-recentposts ul li i.glyphicons,
.mpblog-recentcomments ul li i.glyphicons,
.mpblog-archives ul li i.glyphicons,
.mpblog-categories ul li i.glyphicons:before,
.mpblog-recentcomments ul li i.glyphicons:before,
.mpblog-archives ul li i.glyphicons:before,
.mpblog-recentposts ul li i.glyphicons:before,
.mpblog-recentcomments ul li i.glyphicons:before,
.mpblog-archives ul li i.glyphicons:before {
  font-size: smaller;
}
.mpblog-categories ul li i.glyphicons,
.mpblog-recentcomments ul li i.glyphicons,
.mpblog-archives ul li i.glyphicons,
.mpblog-recentposts ul li i.glyphicons,
.mpblog-recentcomments ul li i.glyphicons,
.mpblog-archives ul li i.glyphicons {
  display: block;
  left: 4px;
  top: 2px;
  position: absolute;
}

.mpblog-archives .block-content {
  padding-top: 10px;
}
.mpblog-archives .block-content .actions {
  margin: 10px -10px -5px;
}
/* Tags */
.mpblog-tags .tag-list.cloud-enabled {
  display: none;
}
.mpblog-tags .block-content canvas {
  width: 100%;
  margin-left: -5px;
}
.mpblog-tags ul {
  list-style-type: none;
}
.mpblog-tags ul li {
  display: inline;
}
.mpblog-tags a.tag1 {
  font-size: 0.7em;
  font-weight: 100;
}
.mpblog-tags a.tag2 {
  font-size: 0.8em;
  font-weight: 200;
}
.mpblog-tags a.tag3 {
  font-size: 0.9em;
  font-weight: 300;
}
.mpblog-tags a.tag4 {
  font-size: 1.0em;
  font-weight: 400;
}
.mpblog-tags a.tag5 {
  font-size: 1.2em;
  font-weight: 500;
}
.mpblog-tags a.tag6 {
  font-size: 1.4em;
  font-weight: 600;
}
.mpblog-tags a.tag7 {
  font-size: 1.6em;
  font-weight: 700;
}
.mpblog-tags a.tag8 {
  font-size: 1.8em;
  font-weight: 800;
}
.mpblog-tags a.tag9 {
  font-size: 2.2em;
  font-weight: 900;
}
.mpblog-tags a.tag10 {
  font-size: 2.5em;
  font-weight: 900;
}
/* Social Share */
@media (min-width: 770px) {
  .mpblog-social-container {
    float: left;
  }
}
@media (max-width: 770px) {
  .mpblog-social-container .mp-buttons ul {
    text-align: center;
    width: 100%;
  }
}
.mpblog-social-container .mp-buttons ul li {
  margin-right: 5px;
  float: left;
}
@media (max-width: 770px) {
  .mpblog-social-container .mp-buttons ul li {
    margin-bottom: 5px;
    display: inline-block;
  }
}
.mpblog-social-container .mp-buttons ul li .blog-icon {
  float: left;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}
.mpblog-social-container .mp-buttons ul li .blog-icon.twitter {
  background-image: url("../images/assets/twitter.png");
  background-image: url("../images/assets/twitter.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.facebook {
  background-image: url("../images/assets/facebook.png");
  background-image: url("../images/assets/facebook.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.vkontakte {
  background-image: url("../images/assets/vk.png");
  background-image: url("../images/assets/vk.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.odnoklassniki {
  background-image: url("../images/assets/ok.png");
  background-image: url("../images/assets/ok.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.blogger {
  background-image: url("../images/assets/blogger.png");
  background-image: url("../images/assets/blogger.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.tumblr {
  background-image: url("../images/assets/tumblr.png");
  background-image: url("../images/assets/tumblr.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.pinterest {
  background-image: url("../images/assets/pinterest.png");
  background-image: url("../images/assets/pinterest.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.digg {
  background-image: url("../images/assets/digg.png");
  background-image: url("../images/assets/digg.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.mixx {
  background-image: url("../images/assets/mixx.png");
  background-image: url("../images/assets/mixx.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.delicious {
  background-image: url("../images/assets/delicious.png");
  background-image: url("../images/assets/delicious.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.stumbleupon {
  background-image: url("../images/assets/stumbleupon.png");
  background-image: url("../images/assets/stumbleupon.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.slashdot {
  background-image: url("../images/assets/slashdot.png");
  background-image: url("../images/assets/slashdot.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.slashdot {
  background-image: url("../images/assets/slashdot.png");
  background-image: url("../images/assets/slashdot.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.reddit {
  background-image: url("../images/assets/reddit.png");
  background-image: url("../images/assets/reddit.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.linkedin {
  background-image: url("../images/assets/linkedin.png");
  background-image: url("../images/assets/linkedin.svg");
}
.mpblog-social-container .mp-buttons ul li .blog-icon.google {
  background-image: url("../images/assets/google_bookmarks.png");
  background-image: url("../images/assets/google_bookmarks.svg");
}
.search-query {
  margin-bottom: 20px;
}
.search-query .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  float: left;
}
.search-query .input-box button.button {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  padding: 6px 7px;
}
.search-query .input-box button.button i.glyphicons.search {
  opacity: 0.5;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.search-query .input-box button.button i.glyphicons.search:hover {
  opacity: 1;
}
.search-query .input-box button.button i.glyphicons.search:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.search-query .input-box input[type="text"] {
  width: 100%;
}
.search-query .advice {
  padding: 3px 10px;
  border: 1px solid #cccccc;
  background: #f4f4f4;
  float: left;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.search-query .advice a {
  font-weight: bold;
}
.mpblog-search .block-content button.button {
  margin-top: 10px;
  margin-bottom: 5px;
}
.mpblog-search .block-content input.input-text {
  width: 168px;
  margin-top: 5px;
}
/* Preview */
.mpblog-preview {
  padding: 20px;
}
.mpblog-preview .mpblog-preview-header {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.mpblog-preview-button-set {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
textarea.placeholder .placeholder,
input.placeholder[type="text"] .placeholder {
  color: #8c8c8c;
  text-indent: 0;
  opacity: 0.8;
  -webkit-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
textarea.placeholder .hovered-placeholder,
input.placeholder[type="text"] .hovered-placeholder {
  opacity: 1;
}
textarea.placeholder .focused-placeholder,
input.placeholder[type="text"] .focused-placeholder {
  text-indent: -100%;
  opacity: 0;
}
textarea.placeholder::-webkit-input-placeholder,
input.placeholder[type="text"]::-webkit-input-placeholder {
  color: #8c8c8c;
  text-indent: 0;
  opacity: 0.8;
  -webkit-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
textarea.placeholder:-moz-placeholder,
input.placeholder[type="text"]:-moz-placeholder {
  color: #8c8c8c;
  text-indent: 0;
  opacity: 0.8;
  -webkit-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
textarea.placeholder::-moz-placeholder,
input.placeholder[type="text"]::-moz-placeholder {
  color: #8c8c8c;
  text-indent: 0;
  opacity: 0.8;
  -webkit-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
textarea.placeholder:-ms-input-placeholder,
input.placeholder[type="text"]:-ms-input-placeholder {
  color: #8c8c8c;
  text-indent: 0;
  opacity: 0.8;
  -webkit-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: text-indent 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
textarea.placeholder:hover::-webkit-input-placeholder,
input.placeholder[type="text"]:hover::-webkit-input-placeholder {
  opacity: 1;
}
textarea.placeholder:hover:-moz-placeholder,
input.placeholder[type="text"]:hover:-moz-placeholder {
  opacity: 1;
}
textarea.placeholder:hover::-moz-placeholder,
input.placeholder[type="text"]:hover::-moz-placeholder {
  opacity: 1;
}
textarea.placeholder:hover:-ms-input-placeholder,
input.placeholder[type="text"]:hover:-ms-input-placeholder {
  opacity: 1;
}
textarea.placeholder:focus,
input.placeholder[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 5px 0px #cccccc;
  -moz-box-shadow: inset 0px 0px 5px 0px #cccccc;
  box-shadow: inset 0px 0px 5px 0px #cccccc;
  border: 1px solid #4d4d4d;
}
textarea.placeholder:focus::-webkit-input-placeholder,
input.placeholder[type="text"]:focus::-webkit-input-placeholder {
  text-indent: -100%;
  opacity: 0;
}
textarea.placeholder:focus:-moz-placeholder,
input.placeholder[type="text"]:focus:-moz-placeholder {
  text-indent: -100%;
  opacity: 0;
}
textarea.placeholder:focus::-moz-placeholder,
input.placeholder[type="text"]:focus::-moz-placeholder {
  text-indent: -100%;
  opacity: 0;
}
textarea.placeholder:focus:-ms-input-placeholder,
input.placeholder[type="text"]:focus:-ms-input-placeholder {
  text-indent: -100%;
  opacity: 0;
}
.fix-me {
  zoom: 1;
  /* IE6&7 */
}
.fix-me:before,
.fix-me:after {
  content: "";
  display: table;
}
.fix-me:after {
  clear: both;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
/* Misc styles */
div.fixed {
  clear: both;
}
/* Icons Color Scheme */
i.mpblog-classic.glyphicons,
i.mpblog-classic.glyphicons:before {
  color: #3399cc;
}
i.mpblog-red.glyphicons,
i.mpblog-red.glyphicons:before {
  color: #7C0104;
}
i.mpblog-green.glyphicons,
i.mpblog-green.glyphicons:before {
  color: #003300;
}
i.mpblog-blue.glyphicons,
i.mpblog-blue.glyphicons:before {
  color: #003366;
}
i.mpblog-grey.glyphicons,
i.mpblog-grey.glyphicons:before {
  color: #333333;
}
i.mpblog-old-magento.glyphicons,
i.mpblog-old-magento.glyphicons:before {
  color: #0A263C;
}
.mpblog-index-category,
.mpblog-container,
.mpblog-categories,
.mpblog-container h1,
.mpblog-container h2,
.mpblog-container h3,
.mpblog-container h4,
.mpblog-container h5,
.mpblog-container .h6,
#mpblog_content_post,
.mpblog-index-category h3{
  font-family: 'Kanit', Helvetica, Arial, sans-serif;
}

.mpblog-categories .mpblog-category.level-2 {
   margin-bottom:35px;
}
.mpblog-categories ul li a:hover{
  text-decoration: none;
  color:#FFC222;
}
.mpblog-categories .categories-title {
  font-size:22px;
  color: #252525;
  text-transform: uppercase;
  font-weight: bold;
}
.blog-landing-banner {
  margin-bottom:60px;
}
.blog-landing-banner li {
  float:left;
  width:calc(44% - 10px);
}
.blog-landing-banner li:nth-child(1) {
  float:left;
  width:calc(56% - 10px);
  margin-right:20px;
}
.blog-landing-banner li:nth-child(2)  {
  margin-bottom:19px;
}
.mpblog-list.list .mpblog-post {
  float:left;
  width:32%;
  margin-right:2%;
}
.mpblog-list.list .mpblog-post:nth-child(3n){
  margin-right:0px;
}
.list-decor-style1 .mpblog-list.list .mpblog-post {
  margin-right:2%;
}
.list-decor-style1 .mpblog-list.list .mpblog-post:nth-child(1){
   width:66%;
}

.list-decor-style3 .mpblog-list.list .mpblog-post:nth-child(3n + 1){
  clear: left;
}

.list-decor-style1 .mpblog-list.list .mpblog-post:nth-child(3n + 2){
  margin-right:0px;
}
.mpblog-list.list .mpblog-post .post-image {
  position: relative;
  margin-bottom:10px;
}
.mpblog-list.list .mpblog-post .post-image .post-thumbnail {
  margin-bottom:0px;
}
.mpblog-list.list .mpblog-post .post-image img {
  max-width:100%;
}
.mpblog-list.list .mpblog-post .post-image .post-tag {
  position: absolute;
  bottom:10px;
  right:8px;
  background:#FFC222;
  padding:2px 10px;
  color:#fff;
  line-height: 18px;
  font-size:14px;
  text-transform: capitalize;
  font-weight: normal;
  font-style: normal;
}
.mpblog-list.list .mpblog-post .mp-header{
  color: #898989;
  float:left;
  width:100%;
  margin:0 0 5px;
  padding:0px;
}
.mpblog-list.list .mpblog-post .mp-header .post-time {
  float:left;
  font-size:14px;
  font-weight: 300;
  font-style: normal;
}
.mpblog-post .mp-header .post-views {
  float:right;
  font-size:14px;
  font-family: arial;
  padding-left:25px;
  position: relative;
}
.mpblog-post .mp-header .post-views:before{
  content:"";
  width:20px;
  height:11px;
  position: absolute;
  left:0px;
  top:4px;
  background-position:0px 0px ;
  opacity: 0.5;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
}

.mpblog-list.list .mpblog-post .mp-header .post-views strong{
  font-size:14px;
  font-weight: bold;
}
.mpblog-list.list .mpblog-post .mp-post-title {
  width:100%;
  float:left;
  margin-bottom:10px;
}
.mpblog-list.list .mpblog-post .mp-post-title a {
  font-size:18px;
  color:#000;
  float:left;
  line-height: 24px;
  height:48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}
.mpblog-list.list .mpblog-post .mp-content {
  float:left;
  width:100%;
  font-size:14px;
  color:#000;
  line-height: 18px;
  height:54px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 300;
  font-style: normal;
  margin-bottom:10px;
}
.mpblog-list.list .mpblog-post .mp-read-more {
  margin:0px;
  padding-right:15px;
  position: relative;
  color:#252525;
  font-size:14px;
  font-weight: normal;
  font-style: normal;
}

.list-decor-style2 .mpblog-list.list .mpblog-post:nth-child(1){
  width:100%;
  margin-bottom:30px;
}
.list-decor-style2 .mpblog-list.list .mpblog-post {
  margin-right:2%;
}
.list-decor-style2 .mpblog-list.list .mpblog-post:nth-child(3n +1) {
  margin-right: 0px;
}

.list-decor-style2 .mpblog-list.list .mpblog-post:nth-child(1) .mp-content  {
  display:block;
}
.mpblog-post.mpblog-post-view .mp-header {
  float:left;
  width:100%;
  border-bottom: solid 1px #ebebeb;
}
.mpblog-post.mpblog-post-view .mp-header .post-views {
  float:left;
  margin-right:10px;
  padding-right:10px;
  border-right:solid 1px #ebebeb;
}
.mpblog-post-view .mp-blog-head {
  width:100%;
  border-top:solid 1px #ebebeb;
  padding-top:10px;
}
.mpblog-post-view .mp-blog-head h1 {
  font-size:28px;
  font-weight: normal;
  font-style: normal;
}
.mpblog-post .mp-header .post-social {
  font-size: 14px;
  font-family: arial;
  float:left;
}
.mpblog-post .mp-header .post-social .share  {
  float:left;
  margin-right:10px;
}
.mpblog-post .mp-header .mpblog-social-container {
  float:left;
}
.mpblog-post.mpblog-post-view .mp-content  {
  font-size:16px;
  font-weight: 300;
  font-style: normal;
  float:left;
  width:100%;
  color: #000;
  margin-bottom:30px;
}
.block-title.title-style5,
.title-style5 {
  text-transform: uppercase;
  border-bottom:solid 6px #F4F4F4;
  text-align: center;
  position: relative;
  margin-bottom:30px;
}
.title-style5 strong,
.block-title.title-style5 strong{
  color:#444;
  font-size:24px;
  font-weight: 500;
  font-style: normal;
  margin:0px 0 8px;
  padding:0px;
  display: block;
}
.title-style5:before{
  content:"";
  width:167px;
  height:6px;
  position: absolute;
  background:#FFC222;
  left:50%;
  bottom:-6px;
  transform: translate(-50%,0) ;
  -webkit-transform: translate(-50%,0) ;
  -moz-transform: translate(-50%,0) ;
}
.title-style5 a {
  position: absolute;
  bottom: 10px;
  right: 0px;
  line-height: 22px;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  padding-right: 15px;
  z-index: 9;
}

.title-style5 a:after{
  content: "";
  position: absolute;
  top: 7px;
  right: 0px;
  width: 0px;
  height: 0px;
  border-left: solid 7px #919191;
  border-bottom: solid 4px transparent;
  border-top: solid 4px transparent;
}
.title-style5 a:hover{
  color: #FFC222;
  text-decoration: none;
}
.title-style5 a:hover:after {
  border-left-color: #FFC222;
}
.mp-blog-head h1.mp-title.title-promotion {
  padding: 18px 1000px;
  margin: 0 -1000px 30px -1000px;
  background: #EFEFEF;
  border-top: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  float: left;
  width: calc(100% + 2000px);
  max-width: none;
  font-size: 28px;
  font-weight: bold;
}
.list-promotion .mpblog-list.list .mpblog-post {
  margin-bottom:40px;
  margin-right:2%;
}

.list-promotion .mpblog-list.list .mpblog-post:nth-child(3n + 1) {
  margin-right:0px;
}
.list-promotion .mpblog-list.list .mpblog-post .mp-header .post-time {
  font-size:16px;
}
.list-promotion .mpblog-list.list .mpblog-post .mp-post-title a {
  font-size:22px;
  text-transform: uppercase;
  font-weight: bold;
}
.mpblog-post-promotiom ul.mp-details {
  float: right;
  clear: both;
  width: auto;
  font-family: 'Kanit', Helvetica, Arial, sans-serif;
  margin:0;
}

.list-promotion .mpblog-list.list .mpblog-post:nth-child(1) ul.mp-details > li >a,
.mpblog-post-promotiom ul.mp-details > li >a{
  text-indent: 0;
  width:auto;
  padding-left:40px;
  font-size:18px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}
ul.mp-details {
  float:left;
  width:100%;
}
ul.mp-details li {
  float:left;
  margin-right:15px;
}
ul.mp-details li:nth-last-child(1) {
  margin-right:0px;
}
ul.mp-details > li >a {
  position: relative;
  padding:0 0 0 33px;
  line-height: 33px;
  float:left;
  text-indent: -9999px;
  width:33px;
  height: 33px;
}
ul.mp-details > li >a:before{
  content:"";
  position: absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color:#000;
}
ul.mp-details > li >a.mp-view:before {
  background-position:-43px 9px ;
}
ul.mp-details > li >a.mp-download:before {
  background-position:8px -17px ;
}
ul.mp-details > li >a.mp-share:before {
  background-position:-43px -17px ;
}
ul.mp-details > li >a:hover,
ul.mp-details > li >a.active{
  text-decoration: none;
  color:#FF8A00 ;
}
ul.mp-details > li >a:hover:before,
ul.mp-details > li >a.active:before{
  background-color:#FF8A00;
}
.box-shares {
  position: relative;
}
.box-shares .mpblog-social-container {
  display: none;
  position: absolute;
  left:50%;
  top:100%;
  border:solid 1px #ebebeb;
  background:#fff;
  z-index: 99;
  margin-top:3px;
  padding:10px;
  min-width:147px;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
}
.box-shares .mpblog-social-container:before,
.box-shares .mpblog-social-container:after{
  content:"";
  width:0px;
  height:0px;
  border-bottom:solid 8px #ebebeb;
  border-left:transparent 8px solid;
  border-right:transparent 8px solid;
  left:50%;
  top:-8px;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  position: absolute;
}
.box-shares .mpblog-social-container:after {
  border-bottom:solid 8px #fff;
  margin-top:2px;
}

.mpblog-post-promotiom .mpblog-col-content {
  border-right:solid 1px #f4f4f4;
}
.mpblog-post-promotiom .mpblog-col-right {
  position: relative;
}
.mpblog-post-promotiom .mpblog-col-right:before{
  position: absolute;
  height:100%;
  width:1px;
  content:"";
  left:-1px;
  top:0px;
  background:#f4f4f4;
}
.mpblog-recentposts-style2 {
  float:left;
  width:100%;
  padding: 0 20px;
  text-align: center;
}
.block-title.title-style6 strong{
  font-size:18px;
  color:#444444;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom:20px;
}
.mpblog-list-style2 .mpblog-post {
  border-bottom:solid 1px #d7d7d7;
  padding:25px 0;
  margin:0px;
}
.mpblog-list-style2 .mpblog-post:nth-last-child(1){
  border-bottom:none;
  padding-bottom:0px;
}
.mpblog-list-style2 .mpblog-post .post-image {
  padding:0 19%;
}
.mpblog-list-style2 .mpblog-post .mp-post-title a{
  font-size:16px;
  color:#000;
  line-height: 24px;
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: normal;
  text-transform: uppercase;
}
.list-news-event .mpblog-list.list .mpblog-post {
  float:left;
  width:49%;
  margin:20px 2% 20px 0;
}
.list-news-event .mpblog-list.list .mpblog-post:nth-child(1) {
  width:100%;
  margin:10px 0 50px;
}

.list-news-event .mpblog-list.list .mpblog-post:nth-child(2n + 1){
  margin-right:0px;
}
.list-news-event .mpblog-list.list .mpblog-post:nth-child(2n){
   clear:left;
}

.blog-banners-right li {
  margin-bottom:22px;
}
.blog-banners-right li:nth-last-child(1) {
  margin-bottom:0px;
}

.banner-indexproject {
  float:left;
  width:100%;
  position: relative;
  margin-bottom:40px;
}
.banner-indexproject .banner-description {
  position: absolute;
  padding:20px;
  background:rgba(255,255,255,0.95);
  width:526px;
  max-width:96%;
  left:2%;
  height:calc(100% - 30px);
  overflow-x: auto;
  top:15px;
  font-size:16px;
  font-weight: 300;
  line-height: 28px;
  color:#000;
}
.banner-indexproject .banner-description h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom:10px;
}
.banner-indexproject .banner-description .button {
  float:left;
  margin-top:20px;
  font-size: 17px;
}
.career-contacts.project_sales {
    padding: 20px 0;
}
.list-index-project .mpblog-post .post-info{
  float:left;
  width:100%;
}
.list-index-project .mpblog-post .post-info .box-left {
  float:left;
  width:calc(100% - 55px )
}
.list-index-project .mpblog-post .post-info .box-right{
  float:right;
  width:50px;
}
.list-index-project .mpblog-post .post-info .box-right img {
  float:right;
  max-width:100%;
}
.list-index-project .mpblog-post .post-info .mp-post-title{
  color:#ffb300;
  font-size:18px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom:0px;
}
.list-index-project .mpblog-post .post-info .mp-content {
  line-height: 18px;
  height: 36px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size:14px;
  font-weight: 300;
  color:#000;
}
.list-index-project .mp-blog-head .button{
  float: right;
  font-size: 17px;
  margin-top: -5px;
}
.box-application-form {
  position: fixed;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  background:rgba(0,0,0,0.8);
  z-index: 99;
}
.box-application-form .content-popup {
  width: 890px;
  max-width:96%;
  padding:3%;
  background:#F6F6F6;
  position: absolute;
  left:50%;
  top:5%;
  max-height:90%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  overflow-y: auto;
}
.box-application-form h2 {
  float:left;
  width:100%;
  font-size:28px;
  font-weight: bold;
  color:#000;
  text-transform: uppercase;
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:solid 1px #E6E6E6;
}
.box-application-form .form-list .fields .field {
  float:left;
  width:96%;
  margin-right:4%;
}
.box-application-form .form-list > li {
  margin-bottom: 10px;
  float:left;
  width:50%;
}
.box-application-form .form-list .fields .field:nth-child(2n){
  margin-right:0px;
}
.box-application-form .form-list input {
  width:100%;
}
.box-application-form .form-list label {
  font-size:16px;
  margin-bottom:8px;
}
.box-application-form .buttons-set {
  text-align: left;
  border: none;
}
.box-application-form .buttons-set .note-required {
  color:red;
  margin-bottom:20px;
}
.box-application-form .buttons-set button.button{
  float:left;
  font-size:24px;
  margin-left:0px;
  font-weight: normal;
  min-width: 250px;
}
.icon-close {
  width:30px;
  height:30px;
  background:url(../images/close.png) no-repeat center center;
  top:5%;
  margin-top:-25px;
  left:50%;
  margin-left:445px;
  text-indent: -9999px;
  position: absolute;
}

.mpblog-list.list .mpblog-post .post-image .popup-image li:nth-child(1) a{
  position: absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  z-index: 9;
  opacity: 0;
}
.mpblog-list.list .mpblog-post .post-image .popup-image li:nth-child(n + 2) a  {
  display: none;
}
.mpblog-post .mp-content .products-grid .item a > img {
  border:none;
  box-shadow: none;
  width:auto;
  margin:auto;
  padding:0px;
}
.mpblog-post .mp-content .products-grid div.item dl {
   clear: both;
  width:100%;
}
.mpblog-post .mp-content .products-grid .item .prolabel-wrapper .flip-container a,
.mpblog-post .mp-content .products-grid .item .prolabel-wrapper  a.product-image{
  width:100%;
  float:left;
  text-align: center;
}
.mpblog-post .mp-content .products-grid  .grid-price .save-price-percent{
  float: left;
  position: static;
  margin-top: 3px;
  margin-left: 15px;
}
.mpblog-post .mp-content .related-products {
  margin-top:30px;
}
.comment-blog {
  float:left;
  width:100%;
}
@media (max-width: 768px){
  .mpblog-2column-left .mpblog-col-left,
  .mpblog-2column-left .mpblog-col-content,
  .mpblog-2column-right .mpblog-col-content,
  .mpblog-2column-right .mpblog-col-right{
    width:100%;
    padding:0px;
    border:none;
  }

  .mpblog-post-promotiom .mpblog-col-right {
    border-top:solid 1px #e6e6e6;
    padding-top:25px;
  }
  .mpblog-post-promotiom .mpblog-col-right:before {
    display: none;
  }
  .mpblog-post-promotiom .block-title.title-style6 strong {
    margin-bottom:0px;
  }
  .mpblog-2column-left .mpblog-col-left {
    margin-bottom:20px;
  }

  .product-highlight-blog .owl-carousel {
    padding-right:30px;
  }
  .product-highlight-blog .owl-carousel .owl-stage-outer {
    overflow: initial!important;
  }
  .product-highlight-blog {
    width:calc(100% + 10px);
  }
  .product-highlight-blog .owl-carousel .owl-controls .owl-nav .owl-prev {
    left:-10px;
  }
  .post-detail-news-event .blog-banners-right {
    display: none;
  }
  .banner-indexproject .banner-description {
    position: static;
    float:left;
    width:100%;
    background:none;
    padding:10px 0 0;
  }
  .box-application-form .content-popup {
    top: 80px;
    width:96%;
    max-height:calc(100% - 100px);
    overflow-y:auto;
  }
  .icon-close {
    top: 80px;
    margin-top: 0px;
    margin-left: -20px;
    left: 96%;
  }
}

@media (max-width: 500px){
  .blog-desktop {
    display: none!important;
  }
  .blog-landing-banner {
    margin-bottom:20px;
  }
  .blog-landing-banner li:nth-child(1),
  .blog-landing-banner li,
  .blog-landing-banner li:nth-child(2){
    width:100%;
    margin:0 0 10px;
  }

  .mpblog-list.list .mpblog-post {
    width:100% !important;
    margin: 0 0 20px !important;
  }
  .mpblog-post-view .mp-blog-head h1 {
    font-size: 24px;
  }
  .mpblog-post .mp-header .mpblog-social-container {
    width:100%;
    margin-top:10px;
  }
  .mpblog-post-view .mp-blog-head {
    border-top:none;
    padding-top:0px;
  }
  .related-products .button.button-view-all{
    width: 100%;
    background: #f8f8f8;
    border: solid 1px #e6e6e6;
    border-radius: 0;
    color: #767676;
    font-weight: 300;
  }
  .related-products .button.button-view-all span{
    display: inline-block;
    padding-right:15px;
    position: relative;
  }
  .related-products .button.button-view-all span:before{
    content:"";
    width:0px;
    height:0px;
    border-left:solid 6px #767676;
    border-top:solid 4px transparent;
    border-bottom:solid 4px transparent;
    position: absolute;
    top:50%;
    right:0px;
    margin-top:-4px;
  }
  .mp-blog-head h1.mp-title.title-promotion {
     font-size:16px;
    line-height:24px;
    padding-top:13px;
    padding-bottom:13px;
  }
  .list-promotion .mpblog-list.list .mpblog-post .mp-header .post-time {
    font-size:12px;
  }
  .list-promotion .mpblog-list.list .mpblog-post .mp-post-title a {
    font-size:18px;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(1) ul.mp-details > li >a {
    font-size:12px;
  }
  .list-promotion .mpblog-list.list .mpblog-post {
    border-bottom: solid 1px #cecece;
    padding-bottom: 15px;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-last-child(1) {
    border-bottom:none;
    padding-bottom:0px;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(n + 2) {
    width:84%!important;
    margin-left:8%!important;
    margin-right:8%!important;
    text-align: center;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(n + 2) .mp-header .post-time {
     display: none;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(n + 2)  .mp-post-title a {
    font-size: 16px;
    font-weight: 500;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(n + 2) ul.mp-details li {
    float: none;
    display: inline-block;
  }
  .mpblog-recentposts-style2 {
    padding:0 8%;
  }
  .list-index-project .mp-blog-head .button {
    float:left;
    margin-bottom:20px;
  }
  .box-application-form .form-list > li {
    width:100%;
  }

}

@media (min-width: 501px){
  .blog-mobile {
    display: none!important;
  }
  .list-decor-style2 .mpblog-list.list .mpblog-post:nth-child(1) .post-image {
    float:left;
    width:66%;
    margin-right:2%;
  }
  .list-decor-style2 .mpblog-list.list .mpblog-post:nth-child(1) .post-info {
    float:left;
    width:32%;
  }
  .list-news-event .mpblog-list.list .mpblog-post:nth-child(1) .post-image,
  .list-news-event .mpblog-list.list .mpblog-post:nth-child(1) .post-info {
    float:left;
    width:49%;
  }
  .list-news-event .mpblog-list.list .mpblog-post:nth-child(1) .post-image{
    margin-right:2%;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(1) .post-image,
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(1) .post-info {
    float:left;
    width:50%;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(1) {
    float:left;
    width:100%;
    padding-bottom:30px;
    border-bottom:solid 1px #e6e6e6;
  }

  .list-promotion .mpblog-list.list .mpblog-post:nth-child(1) .post-info {
    padding-left:20px;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(1) .mp-header .post-time {
    font-size:20px;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(1) .mp-post-title {
    margin: 5px 0 20px;
  }
  .list-promotion .mpblog-list.list .mpblog-post:nth-child(1) .mp-post-title a  {
    font-size:28px;
    display: block;
    height:auto;
    line-height: 34px;
  }

}
.list-decor-style1 .mpblog-list.list .mpblog-post:nth-child(3n + 3) {
  clear: left;
}