<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Themecustom>
			<version>0.1.1</version>
		</Magebuzz_Themecustom>
	</modules>
	<frontend>
		<routers>
			<themecustom>
				<use>standard</use>
				<args>
					<module>Magebuzz_Themecustom</module>
					<frontName>themecustom</frontName>
				</args>
			</themecustom>
		</routers>
		<layout>
			<updates>
				<themecustom>
					<file>themecustom.xml</file>
				</themecustom>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Themecustom>
					<files>
						<default>Magebuzz_Themecustom.csv</default>
					</files>
				</Magebuzz_Themecustom>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<themecustom>
				<use>admin</use>
				<args>
					<module>Magebuzz_Themecustom</module>
					<frontName>themecustom</frontName>
				</args>
			</themecustom>
		</routers>
	</admin>
  <adminhtml>		
		<layout>
			<updates>
				<themecustom>
					<file>themecustom.xml</file>
				</themecustom>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Themecustom>
					<files>
						<default>Magebuzz_Themecustom.csv</default>
					</files>
				</Magebuzz_Themecustom>
			</modules>
		</translate>
  </adminhtml>   
	<global>
		<models>
			<themecustom>
				<class>Magebuzz_Themecustom_Model</class>
				<resourceModel>themecustom_mysql4</resourceModel>
			</themecustom>
			<themecustom_mysql4>
				<class>Magebuzz_Themecustom_Model_Mysql4</class>
				<entities>
					<themecustom>
						<table>themecustom</table>
					</themecustom>
				</entities>
			</themecustom_mysql4>
		</models>
		<resources>
			<themecustom_setup>
				<setup>
					<module>Magebuzz_Themecustom</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</themecustom_setup>
			<themecustom_write>
				<connection>
					<use>core_write</use>
				</connection>
			</themecustom_write>
			<themecustom_read>
				<connection>
					<use>core_read</use>
				</connection>
			</themecustom_read>
		</resources>
		<blocks>
			<themecustom>
				<class>Magebuzz_Themecustom_Block</class>
			</themecustom>
		</blocks>
		<helpers>
			<themecustom>
				<class>Magebuzz_Themecustom_Helper</class>
			</themecustom>
		</helpers>
		<events>
			<catalog_product_is_salable_after>
				<observers>
					<themecustom>
						<type>singleton</type>
						<class>themecustom/observer</class>
						<method>isSalableAfter</method>
					</themecustom>
				</observers>
			</catalog_product_is_salable_after>	
		</events>
	</global>
</config>