<?xml version="1.0"?>
<!--
/**
 * @author MarginFrame Team
 * @copyright Copyright (c) 2015 MarginFrame (http://www.marginframe.com)
 * @package MarginFrame_Base
 */
-->
<config>
    <tabs>
        <amasty translate="label" module="ambase">
            <label>MarginFrame Extensions</label>
            <sort_order>400</sort_order>
        </amasty>
    </tabs>
</config>