<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Extendcart>
			<version>0.1.0</version>
		</Magebuzz_Extendcart>
	</modules>
	<frontend>
		<routers>
			<extendcart>
				<use>standard</use>
				<args>
					<module>Magebuzz_Extendcart</module>
					<frontName>extendcart</frontName>
				</args>
			</extendcart>
			<checkout>
				<args>
					 <modules>
							 <Magebuzz_Extendcart before="Mage_Checkout">Magebuzz_Extendcart</Magebuzz_Extendcart>
					 </modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<extendcart>
					<file>extendcart.xml</file>
				</extendcart>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Extendcart>
					<files>
						<default>Magebuzz_Extendcart.csv</default>
					</files>
				</Magebuzz_Extendcart>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<extendcart>
				<use>admin</use>
				<args>
					<module>Magebuzz_Extendcart</module>
					<frontName>extendcart</frontName>
				</args>
			</extendcart>
		</routers>
	</admin>
  <adminhtml>		
		<layout>
			<updates>
				<extendcart>
					<file>extendcart.xml</file>
				</extendcart>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Extendcart>
					<files>
						<default>Magebuzz_Extendcart.csv</default>
					</files>
				</Magebuzz_Extendcart>
			</modules>
		</translate>
  </adminhtml>   
	<global>
		<models>
			<extendcart>
				<class>Magebuzz_Extendcart_Model</class>
				<resourceModel>extendcart_mysql4</resourceModel>
			</extendcart>
			<extendcart_mysql4>
				<class>Magebuzz_Extendcart_Model_Mysql4</class>
				<entities>
					<extendcart>
						<table>extendcart</table>
					</extendcart>
				</entities>
			</extendcart_mysql4>
		</models>
		<resources>
			<extendcart_setup>
				<setup>
					<module>Magebuzz_Extendcart</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</extendcart_setup>
			<extendcart_write>
				<connection>
					<use>core_write</use>
				</connection>
			</extendcart_write>
			<extendcart_read>
				<connection>
					<use>core_read</use>
				</connection>
			</extendcart_read>
		</resources>
		<blocks>
			<extendcart>
				<class>Magebuzz_Extendcart_Block</class>
			</extendcart>
		</blocks>
		<helpers>
			<extendcart>
				<class>Magebuzz_Extendcart_Helper</class>
			</extendcart>
		</helpers>
	</global>
</config>