<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Importcustomer>
      <version>0.1.1</version>
    </Magebuzz_Importcustomer>
  </modules>
  <frontend>
    <routers>
      <importcustomer>
        <use>standard</use>
        <args>
          <module>Magebuzz_Importcustomer</module>
          <frontName>importcustomer</frontName>
        </args>
      </importcustomer>
    </routers>
  </frontend>
  <global>
    <blocks>
			<importcustomer>
				<class>Magebuzz_Importcustomer_Block</class>
			</importcustomer>
		</blocks>
    <helpers>
      <importcustomer>
        <class>Magebuzz_Importcustomer_Helper</class>
      </importcustomer>
    </helpers>
    <resources>
			<importcustomer_setup>
				<setup>
					<module>Magebuzz_Importcustomer</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</importcustomer_setup>
			<importcustomer_write>
				<connection>
					<use>core_write</use>
				</connection>
			</importcustomer_write>
			<importcustomer_read>
				<connection>
					<use>core_read</use>
				</connection>
			</importcustomer_read>
		</resources>
  </global>
  <admin>
    <routers>
      <importcustomer>
        <use>admin</use>
        <args>
          <module>Magebuzz_Importcustomer</module>
          <frontName>importcustomer</frontName>
        </args>
      </importcustomer>
    </routers>
  </admin>
  <default>
    <general>
      <url>media/importcustomer/customer.csv</url>
    </general>
  </default>
</config> 