<?xml version="1.0"?>
<config>
	<modules>
			<Magebuzz_Customreview>
					<version>0.1.0</version>
			</Magebuzz_Customreview>
	</modules>
	<frontend>
		<routers>
				<customreview>
						<use>standard</use>
						<args>
								<module>Magebuzz_Customreview</module>
								<frontName>customreview</frontName>
						</args>
				</customreview>
				<review>
						<args>
								<modules>
										<magebuzz_customreview before="Mage_Review">Magebuzz_Customreview</magebuzz_customreview>
								</modules>
						</args>
				</review>
		</routers>
		<layout>
				<updates>
						<customreview>
								<file>customreview.xml</file>
						</customreview>
				</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<customreview>
				<use>admin</use>
				<args>
					<module>Magebuzz_Customreview</module>
					<frontName>customreview</frontName>
				</args>
			</customreview>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<customreview>
					<file>customreview.xml</file>
				</customreview>
			</updates>
		</layout>
	</adminhtml>   
	<global>
		<models>
				<customreview>
						<class>Magebuzz_Customreview_Model</class>
						<resourceModel>customreview_mysql4</resourceModel>
				</customreview>
				<customreview_mysql4>
						<class>Magebuzz_Customreview_Model_Mysql4</class>
						<entities>
								<customreview>
										<table>customreview</table>
								</customreview>
						</entities>
				</customreview_mysql4>
		</models>
		<resources>
				<customreview_setup>
						<setup>
								<module>Magebuzz_Customreview</module>
						</setup>
						<connection>
								<use>core_setup</use>
						</connection>
				</customreview_setup>
				<customreview_write>
						<connection>
								<use>core_write</use>
						</connection>
				</customreview_write>
				<customreview_read>
						<connection>
								<use>core_read</use>
						</connection>
				</customreview_read>
		</resources>
		<blocks>
			<customreview>
					<class>Magebuzz_Customreview_Block</class>
			</customreview>
			<adminhtml>
					<rewrite>
							<review_grid>Magebuzz_Customreview_Block_Adminhtml_Review_Grid</review_grid>
					</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
				<customreview>
						<class>Magebuzz_Customreview_Helper</class>
				</customreview>
		</helpers>
		<template>
			<email>
				<customreview_general_email_template>
					<label>Title Email</label>
					<file>customreview_example.html</file>
					<type>html</type>
				</customreview_general_email_template>
			</email>
		</template>			
	</global>
	<translate>
		<modules>
			<Magebuzz_Customreview>
				<files>
					<default>Magebuzz_Customreview.csv</default>
				</files>
			</Magebuzz_Customreview>
		</modules>
	</translate>	
</config>