.amscheckout-main{
	overflow: hidden;
	position: relative;
}

.amscheckout-main,
.amschekcout_title,
.amschekcout_content{font-family:Tahoma; font-size:14px;}

.amscheckout>table{
    width: 100%;
    /*background-color: greenyellow;*/
    table-layout: fixed;
}

.amscheckout table.amscheckout-data-table{
    table-layout: auto;
}
.amscheckout table td{
    vertical-align: top;
}

.amscheckout .form-list .field, .amscheckout .form-list .wide, .amscheckout .form-list .control{
	clear:both;
	width:100%;
}
.amscheckout .form-list .fields{
	width: 100%;
	clear: both;
	float: left;
} 
.amscheckout .form-list select  {width:100%;}
.amscheckout .form-list .field.name-firstname, 
.amscheckout .form-list .field.name-lastname,
.amscheckout .form-list .field.name-middlename {
	width:100%;
}
.amscheckout .form-list .customer-dob .dob-month{width:85px!important}
.amscheckout .form-list .customer-dob .dob-day{width:55px!important}
.amscheckout-row{
    display: inline-table;
    padding-top: 10px;
}

.amscheckout .three-columns .first-column,
.amscheckout .three-columns .second-column
{
	width: 24%;
	float: left;
	margin-bottom: 1%;
	margin-right:2%;
}
.amscheckout .three-columns .third-column{
	width:48%;
	margin:0;
	float: left;
}
.amscheckout .three-columns .third-column .column-section{
}
.amscheckout .two-columns .first-column,
.amscheckout .two-columns .second-column{
    float: left;
    width: 50%;
    margin-bottom: 10px;
}

.amscheckout .two-columns .first-column{
    width: 49%;
}

.amscheckout .one-columns .first-column{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.amscheckout-row>div{
    padding: 0px 3px;
}

.amscheckout .billing,
.amscheckout .shipping,
.amscheckout .shipping-method,
.amscheckout .payment-method,
.amscheckout .coupon,
.amscheckout .giftcards
{
    padding: 10px;
		background:#f6f6f6;
		border:1px solid #e6e6e6;
		border-radius:5px;
		color:#000;
}

.amscheckout .form-list label,
.amscheckout .amscheckout-label{
    font-size: 14px;
    color: #000;
    font-weight: normal;
}
.amscheckout .shipping .form-list label{
	font-family:Tahoma;
	font-size: 14px;
	color: #000;
	font-weight: normal;
	text-transform:none;
}

.amscheckout .amscheckout-label-radio{
    font-size: 12px;
}

.amscheckout .amscheckout-label em{
    padding-left: 3px;
}

.amscheckout-login input.input-text,
.amscheckout input.input-text,
.amscheckout select{
    font-size: 12px;
    font-weight: bold;
}

.amscheckout-login input.input-text,
.amscheckout input.input-text{
    padding: 0;
    width: 100%;
    height: 25px;
    border-radius: 4px;
    text-indent: 3px;
}

.amscheckout select{
    padding: 0;
    width: 100%;
    height: 27px;
    border-radius: 4px;    
}

.amscheckout-control-checkbox,
.amscheckout-control-radio{
    display: inline;
    float: left;
}

.amscheckout-control-checkbox{
    padding-right: 3px;
}

.amscheckout .input-address{
    margin-top: 3px;
}

.amscheckout .area-header{
    font-size: 18px;
    font-weight: bold;
		margin:0 0 15px;
}

.amscheckout .second-column{
}

.amscheckout{
    padding: 20px 0px;
}

.amscheckout .shipping-method dt{
    font-weight: normal;
}

.amscheckout .shipping-method dd,
.amscheckout .shipping-method dt,
.amscheckout .payment-method dt{
    padding-top: 7px;
}

.amscheckout .btn-checkout{
    width: 100%;
}


.amscheckout-header{
}

.amscheckout-header .lane{
	margin:0;
}

.amscheckout-header .lane2{
}

.amscheckout-img{
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-align: center;
    width: 32px;
		font-size:14px;
		line-height:32px;
		font-family:'FuturaBT-Book';
    
/*    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #5cc98b, #32955d);
    background-image: -moz-linear-gradient(bottom, #5cc98b, #32955d);
    background-image: -o-linear-gradient(bottom, #5cc98b, #32955d);
    background-image: linear-gradient(to top, #5cc98b, #32955d);*/
}

.amscheckout-img-shadow{
    display: inline-block;
    width: 32px;
		height:32px;
		background:#ffc222;
		border-radius:16px;
}
.amscheckout-review-wrap{
	background:#f6f6f6;
	border:1px solid #e6e6e6;
	border-radius:5px;
	padding:0 0 35px;
	overflow:hidden;
}
.amscheckout-review{
}

.amscheckout .button{border-radius:5px; }
.amscheckout-shipping{
    background-image: url('../../../images/amasty/amscheckout/shipping-img.png');
    background-repeat:no-repeat;
    background-position:center; 
    width: 22px;
    display: inline-block;
		background-size:18px;
}
.amscheckout .billing .buttons-set button.button{float:left; margin-left:0;}
.amscheckout .shipping .form-list li {
    float: left;
    margin: 0 0 5px;
    width: 100%;
}
.amscheckout .shipping .form-list li.control input{
	margin:0;
}
/*.billing-img{
    background-image: url('../../../images/amasty/amscheckout/billing.png');
}

.shipping-img{
    background-image: url('../../../images/amasty/amscheckout/shipping.png');
}

.shipping-method-img{
    background-image: url('../../../images/amasty/amscheckout/shipping_method.png');
}

.payment-method-img{
    background-image: url('../../../images/amasty/amscheckout/payment_method.png');
}

.review-img{
    background-image: url('../../../images/amasty/amscheckout/review.png');
}

.coupon-img{
    background-image: url('../../../images/amasty/amscheckout/coupon.png');
}*/

.amscheckout select:focus,
.amscheckout-login input[type="text"]:focus,
.amscheckout input[type="text"]:focus{
    outline: none;
    
    background: #FFF;
}


.amscheckout select:hover,
.amscheckout-login input[type="text"]:hover,
.amscheckout input[type="text"]:hover{
    border: 1px solid #999;
    background: #FFF;
}

.amscheckout select:focus:hover,
.amscheckout-login input[type="text"]:focus:hover,
.amscheckout input[type="text"]:focus:hover{
    outline: none;
    background: #FFF;
}

.amscheckout-dologin,
.amscheckout-submit,
.amscheckout-apply{
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.amscheckout-dologin span,
.amscheckout-submit span,
.amscheckout-apply span{
    
    text-align: center;
    white-space: nowrap;
    display: block;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.amscheckout-dologin span span,
.amscheckout-submit span span,
.amscheckout-apply span span {
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
}

.amscheckout-dologin span,
.amscheckout-submit span{
    line-height: 30px;
}

.amscheckout-dologin{
    width: 100%;
    
}

.amscheckout-apply span{
    line-height: 20px;
}

.order-review-newsletter,
.order-review-button{
    clear: both;
    padding: 0px 15px;
}

.order-review-newsletter{
	padding-bottom: 10px;
	float: right;
	width: 100%;
	text-align: right;
}

.order-review-button button{
	float:right;
	min-width:270px;
	height:58px;
	line-height:58px;
	padding:0;
	font-family: 'DBYordXMed';
	font-size:36px;
	text-transform:uppercase;
}

.coupon-buttons{
    padding-top: 10px;
    text-align: right;
}

.coupon-buttons button{
    /*width: 70px;*/
}

.coupon-buttons button span span{
    padding: 0px 10px;
}

.coupon-code{
    padding: 5px 0px;
    display: block;
}

.amscheckout-processing{
    background-image: url('../../../images/amasty/amscheckout/processing.gif');
    width: 66px;
    height: 66px;
    
    margin: 0 auto;
    position: relative;
    margin-bottom: -76px;
    float: right;
    top: 10px;
    right: 10px;
}

.amscheckout-processing-small{
    background-image: url('../../../images/amasty/amscheckout/processing-small.gif');
    width: 16px;
    height: 11px;
    display: inline-block;    
}

.amloading{
    text-align: center;
}

.amscheckout-loading{
    cursor: wait;
    margin-left: -10px;
    z-index: 1000;
    background-color: white;
    /*background-color: #E9E9EC;*/
    width: 100%;
    height: 100%;
    position: absolute;
    
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=20);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    filter:alpha(opacity=20);
}

.amscheckout-data-table{
    width: 100%;
}

.amscheckout .order-review{
}


.amscheckout-data-table tr td,
.amscheckout-data-table tr th{
	padding: 15px 0px;
	vertical-align: middle;
}

.amscheckout-data-table tr th{
    font-weight: bold;
    padding: 0px 3px;
}

.amscheckout-submit-button{
    padding-top: 20px;
}

.amscheckout-item{
    line-height: 30px;
}
.amscheckout #checkout-review-table-wrapper{}
.amscheckout #checkout-review-table-wrapper .amscheckout-data-listitem-box{padding:0 15px;}
.amscheckout table#checkout-review-table{}
.amscheckout table#checkout-review-table tbody tr td{border-bottom:1px solid #e6e6e6;}
.amscheckout table#checkout-review-table tbody tr.last td{border:0 none;}
.amscheckout table#checkout-review-table .opc-product-image{float:left; max-width:100px;}
.amscheckout table#checkout-review-table .opc-product-info{margin-left:150px;}
.amscheckout table#checkout-review-table .opc-product-info .product-name{
	font-family: 'FuturaBT-Book';
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	margin:0 0 5px;
}
.amscheckout table#checkout-review-table .opc-product-info .item-options{float:left; width:100%;}
.amscheckout table#checkout-review-table .opc-product-info .item-options dd{margin:0;}
.amscheckout table#checkout-review-table .opc-product-info .opc-review-price{}
.amscheckout table#checkout-review-table .opc-product-info .opc-review-price .price{
	font-family: 'FuturaT_Bold';
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

.amscheckout table#checkout-review-table .opc-product-info .review-checkout-item-qty{
	float:right;
	margin-top:-33px;
}
.amscheckout #checkout-review-table-wrapper .amscheckout-data-total-box{padding:20px; background:#e6e6e6}
.amscheckout #checkout-review-table-wrapper .amscheckout-data-total-box > div{background:#FFFFFF; padding:0 15px;}
.amscheckout table.amscheckout-data-table.total-table{
	background:#FFFFFF;
	color:#000;
}
.amscheckout table.amscheckout-data-table.total-table tfoot td{
	padding:5px 0;
}

.amscheckout table.amscheckout-data-table.total-table tfoot tr:last-child{}
.amscheckout table.amscheckout-data-table.total-table tfoot tr:last-child td{border-top:1px solid #e6e6e6; padding:10px 0; font-size:18px;}

.amscheckout-review-wrap #checkout-review-submit{padding:0 15px;}

.amscheckout .amscheckout-item .input-qty{
    margin: 0 3px;
    width: 35px;
}

.amscheckout-data-table tfoot td:first-child{
	text-align:left;
}
.amscheckout-data-table tr.summary-details td, .amscheckout-data-table tr.summary-total td{
	color:#FF0000;
}
.checkout-onepage-index .col-main{
    width: 100% !important;
}
.amscheckout textarea,
.amscheckout select,
.amscheckout-login input[type="text"],
.amscheckout input[type="text"]{
    border:1px solid #E8E8E8;
}
.grid-full .amscheckout-main,
.grid-full .cart{
    margin-right: 2%;
}


/*.amscheckout caption, 
.amscheckout th, 
.amscheckout td, 
.amscheckout .data-table th, 
.amscheckout .data-table td{
    text-align: left;
}*/

.amscheckout-control>label[for="billing:month"]{
    display: none;
}

#co-payment-form{
    width: 100%;
}
.amscheckout .product-name img{
    float: left;
    padding-right: 5px;
} 
.amscheckout .product-name{
    line-height: 16px;
}

.amscheckout-control .form-list .field{
    width: auto;
    float: none;
}

.amscheckout-control .form-list li{
    margin: 0;
    padding: 0;
}

.amscheckout .gift-messages-form .item{
    display:  inline;
}

.amscheckout .gift-messages-form .item .details{
    float: none;
}

.amscheckout .column-section
{
    overflow: hidden;
    position: relative;
}

#amscheckout-onepage .cart-table{
    width: 100%;
    float: none;
}

@media only screen and (max-width: 1100px) {
    .amscheckout .three-columns .first-column,
    .amscheckout .three-columns .second-column {
			width: 49%;
			border: 0px;
			margin:0;
    }
    .amscheckout .three-columns .second-column{float:right;}
    .amscheckout .three-columns .third-column{
        width: 100%;
				margin-top:20px;
    }
}

@media only screen and (max-width: 770px) {
    .amscheckout .two-columns .first-column,
    .amscheckout .two-columns .second-column,
    .amscheckout .three-columns .first-column,
    .amscheckout .three-columns .second-column,
    .amscheckout .three-columns .third-column
    {
        width: 100%;
    }
}

@media only screen and (max-width: 599px){
	#amscheckout-cart .cart .button{
			float: none;
			margin: 0;
			width: 32%;
			height: 70px;
	}
	.amscheckout-main .amscheckout #checkout-review-table-wrapper .amscheckout-data-total-box{padding:5px;}
	.amscheckout-main .amscheckout table#checkout-review-table .opc-product-image{max-width:50px;}
	.amscheckout-main .amscheckout table#checkout-review-table .opc-product-info{margin-left:70px;}
}

#review-processing,
#payment-method-processing,
#shipping-method-processing{
    line-height: 10px;
}

.amscheckout-control [for='billing:gender']{
    display: none;
}
.amscheckout-main ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.giftcard-code-check{
    float: left;
}