<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Subscription>
			<version>0.1.0</version>
		</Magebuzz_Subscription>
	</modules>
	<frontend>
		<routers>
			<subscription>
				<use>standard</use>
				<args>
					<module>Magebuzz_Subscription</module>
					<frontName>subscription</frontName>
				</args>
			</subscription>
			<newsletter>
				<args>
						<modules>
								<magebuzz_subscription_manage before="Mage_Newsletter_ManageController">Magebuzz_Subscription</magebuzz_subscription_manage>
								<magebuzz_subscription_subscriber before="Mage_Newsletter_SubscriberController">Magebuzz_Subscription</magebuzz_subscription_subscriber>
						</modules>
				</args>
			</newsletter>
		</routers>
		<layout>
			<updates>
				<subscription>
					<file>subscription.xml</file>
				</subscription>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Subscription>
					<files>
						<default>Magebuzz_Subscription.csv</default>
					</files>
				</Magebuzz_Subscription>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<subscription>
				<use>admin</use>
				<args>
					<module>Magebuzz_Subscription</module>
					<frontName>subscription</frontName>
				</args>
			</subscription>
		</routers>
	</admin>
  <adminhtml>		
		<layout>
			<updates>
				<subscription>
					<file>subscription.xml</file>
				</subscription>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Subscription>
					<files>
						<default>Magebuzz_Subscription.csv</default>
					</files>
				</Magebuzz_Subscription>
			</modules>
		</translate>
  </adminhtml>   
	<global>
		<models>
			<subscription>
				<class>Magebuzz_Subscription_Model</class>
				<resourceModel>subscription_mysql4</resourceModel>
			</subscription>
			<subscription_mysql4>
				<class>Magebuzz_Subscription_Model_Mysql4</class>
				<entities>
					<subscription>
						<table>subscription</table>
					</subscription>
				</entities>
			</subscription_mysql4>
			<newsletter>
        <rewrite>
          <subscriber>Magebuzz_Subscription_Model_Subscriber</subscriber>
        </rewrite>
      </newsletter>
		</models>
		<resources>
			<subscription_setup>
				<setup>
					<module>Magebuzz_Subscription</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</subscription_setup>
			<subscription_write>
				<connection>
					<use>core_write</use>
				</connection>
			</subscription_write>
			<subscription_read>
				<connection>
					<use>core_read</use>
				</connection>
			</subscription_read>
		</resources>
		<blocks>
			<subscription>
				<class>Magebuzz_Subscription_Block</class>
			</subscription>
		</blocks>
		<helpers>
			<subscription>
				<class>Magebuzz_Subscription_Helper</class>
			</subscription>
		</helpers>
	</global>
</config>