/* REQUIRED CSS */

/* Custom radio-checkbox */
.radio{
	
}

 .checkbox {
	background: url(../images/icon-check.png) no-repeat;
	width: 15px;
  height: 16px;
	margin:0;
  float:left;
  overflow:hidden;
  cursor:pointer;
  margin-top:3px;
}
.checkbox.checkbox-checked {
  background: url(../images/icon-checked.png) no-repeat;
}

/* hide input from view but still visible (ie & opera support) */
.rc-hidden { opacity:0; margin-left:-20px;}