@media print{
	@page{
    size: 8.5in 5.5in;
    size: portrait;
  }
  .page-print:last-child {
    page-break-after: auto;
	}
	.page-print{
		margin: 0;
	}
	.page-print.customwishlist-index-print .buttons-set{display: none;}
}