/**
 * Responsive
 */
/* ============================================ *
 * Homepage
 * ============================================ */
 @media (min-width: 1200px) {}
 @media (max-width: 1199px) {}
 @media (min-width: 992px) and (max-width: 1199px) {}
 @media (max-width: 991px) {}
 @media (min-width: 768px) and (max-width: 991px) {}
 @media (max-width: 767px) {}
 @media (min-width: 601px) and (max-width: 767px) {}
 @media (max-width:600px){}
 @media (max-width: 480px){
	#header{
		padding:10px 0;
		background:#202020;
		overflow:hidden;
	}
	#header .page-header-container{float:none; padding:0; width:auto;}
	#header .page-header-container .logo{margin:0; float:none;}
	#header .page-header-container .logo img{display:inline-block; max-width:150px;}
	.box-top-menu{position:absolute; top:0; width:auto;}
	.box-top-menu .top-menu{display:none;}
	.box-top-menu .cateogry{padding:0 10px; width:auto;}
	.box-top-menu .cateogry .skip-cateogry, .box-top-menu .cateogry .skip-cateogry.skip-active{
		background:0 none;
		border:0 none;
	}
	.box-top-menu .cateogry .skip-cateogry .icon-menu{margin-right:0;}
	.box-top-menu .cateogry .skip-cateogry .text-menu{display:none;}
	.box-top-menu .cateogry .skip-content.menu-content{min-width:320px;}
 }