<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <MarginFrame_Dataflow>
            <version>2.2.1</version>
        </MarginFrame_Dataflow>
    </modules>
    <global>
        <blocks>
            <marginframe_dataflow>
                <class>MarginFrame_Dataflow_Block</class>
            </marginframe_dataflow>
        </blocks>
        <models>
            <marginframe_dataflow>
                <class>MarginFrame_Dataflow_Model</class>
                <resourceModel>marginframe_dataflow_resource</resourceModel>
            </marginframe_dataflow>
            <marginframe_dataflow_resource>
                <class>MarginFrame_Dataflow_Model_Resource</class>
                <entities>
                    <profile_import>
                        <table>mgf_dataflow_profile_import</table>
                    </profile_import>
                    <profile_schedule>
                        <table>mgf_dataflow_profile_schedule</table>
                    </profile_schedule>
                </entities>
            </marginframe_dataflow_resource>
        </models>
        <helpers>
            <marginframe_dataflow>
                <class>MarginFrame_Dataflow_Helper</class>
            </marginframe_dataflow>
        </helpers>
        <resources>
            <marginframe_dataflow_setup>
                <setup>
                    <module>MarginFrame_Dataflow</module>
                </setup>
            </marginframe_dataflow_setup>
        </resources>
    </global>
    <crontab>
        <events>
            <default>
                <observers>
                    <dataflow_cron_observer>
                        <class>marginframe_dataflow/observer_cron</class>
                        <method>dispatch</method>
                    </dataflow_cron_observer>
                </observers>
            </default>
        </events>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <marginframe_dataflow before="Mage_Adminhtml">MarginFrame_Dataflow_Adminhtml</marginframe_dataflow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <marginframe>
        <dataflow>
            <parser>
                <csv>
                    <name>CSV</name>
                    <model>marginframe_dataflow/import_parser_csv</model>
                </csv>
            </parser>
            <adapter>
                <import>
                    <product>
                        <default>
                            <name>Import Products</name>
                            <model>marginframe_dataflow/import_adapter_type_product</model>
                        </default>
                    </product>
                </import>
            </adapter>
        </dataflow>
    	<!--<MarginFrame_Dataflow><order_id>100003882</order_id><purchase_id>3636</purchase_id></MarginFrame_Dataflow>-->
    </marginframe>
</config>
