<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                  <td class="border-top"><div style="width:631px; margin:auto;">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table-bottom" >
                      <tr>
                        <td class="percent4">
                                            <div style="padding-top:20px;padding-bottom:20px;"><a href="http://www.indexlivingmall.com/"><img  src="{{var logo_url}}" alt=""></div></a>
                        </td>
                        <td class="percent4 padding-left3">
                          <div style="padding-top:23px;padding-bottom:20px;float:right;text-align: right">
                          <div style="text-align: center;color:#333;font-weight: bold">Follow Us</div><br>
                          <img src="{{skin url='images/social-icons.png' _area='frontend'}}" alt="" usemap="#Map" style="-ms-interpolation-mode: bicubic;" border="0">
                        </td>
                      </tr>
                    </table></div><div style="width:631px; margin:auto;">
                           <table cellpadding="0" cellspacing="0" border="0" width="100%" style=" background: #252525;" >
                      <tr>
                        <td class="percent4" style="vertical-align: middle;">
                                 <div style="color:#FFF;padding:20px;">COPYRIGHT 2015. INDEX LIVING MALL. ALL RIGHTS RESERVED.</div>
                        </td>
                        <td class="percent4 padding-left3" style="  vertical-align: middle; ">
                          <div style="float:right;text-align: right;padding-right:20px;"><a href="#" style="color:#FFF;">Privacy Policy</a></div>
                        </td>
                      </tr>
                    </table>
                    </div>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- End wrapper table -->
<map name="Map" id="Map">
  <area shape="rect" coords="-25,-3,34,28" href="https://www.facebook.com/Indexlivingmall/" />
  <area shape="rect" coords="36,1,74,35" href="http://twitter.com/indexlivingmall" />
  <area shape="rect" coords="80,1,114,29" href="http://www.youtube.com/indexfurniture" />
  <area shape="rect" coords="119,0,159,32" href="#" />
</map>
</body>
