<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                  <td class="border-top">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table-bottom">
                      <tr>
                        <td class="percent4">
                                            การรักษาและป้องกันข้อมูลความเป็นส่วนตัว <br>
                                            ข้อมูลของท่าน เราจะเก็บเป็นึความลับ <br>
                                            ท่านสามารถอ่อนรายละเอียดเพิ่มเติมได้จาก <a href="{{store url='privacy-policy'}}" title="นโยบายบริษัท">นโยบายบริษัท</a>
                        </td>
                        <td class="percent4 padding-left3">
                          Facebook Message : Dohome<br>
                          Line : Dohome-Online<br>
                          Email : <a title="Dohm@dohome.co.th" href="mailto:Dohm@dohome.co.th">Dohm@dohome.co.th</a><br>
                          Hotline : 1746 ต่อ 1<br>
                          Fax : 045-352800<br>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
