<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                  <td class="border-top"><div style="width:631px; margin:auto;">
<div style="text-align: center;background: #FFF;">
                        <b>บริษัท อินเด็กซ์ ลิฟวิ่งมอลล์ จำกัด</b><br>เลขที่ 147 ซอยพระรามที่ 2 ซอย 50 ถ.พระรามที่ 2 แขวงแสมดำ เขตบางขุนเทียน <br>กรุงเทพฯ 10150 <br>ฝ่ายลูกค้าสัมพันธ์ : 0-2417-1111 (วันทำการ จันทร์ – ศุกร์ / เวลา 8:00 – 18:00 น.)<br>
                        E-mail: <a href="mailto:customer_service@indexlivingmall.com"></a>customer_service@indexlivingmall.com<br>Index Shop Online: www.indexlivingmall.com<br>
  <img src="{{skin url='images/social-icons-email.png' _area='frontend'}}" alt="" usemap="#Map" border="0">
                        <map name="Map" id="Map">
                          <area shape="circle" coords="63,54,15" href="http://twitter.com/indexlivingmall" target="_blank" />
                          <area shape="circle" coords="110,53,15" href="http://www.youtube.com/indexfurniture" target="_blank" />
                          <area shape="circle" coords="157,53,17" href="https://www.instagram.com/indexlivingmall/" target="_blank" />
                          <area shape="circle" coords="15,53,15" href="https://www.facebook.com/Indexlivingmall/" target="_blank" />
                        </map>
  </div>
                    </div>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- End wrapper table -->
</body>
