<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Ajaxcart>
      <version>0.1.2</version>
    </Magebuzz_Ajaxcart>
  </modules>
  <frontend>
    <routers>
      <ajaxcart>
        <use>standard</use>
        <args>
          <module>Magebuzz_Ajaxcart</module>
          <frontName>ajaxcart</frontName>
        </args>
      </ajaxcart>
    </routers>
    <layout>
      <updates>
        <ajaxcart>
          <file>ajaxcart.xml</file>
        </ajaxcart>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Ajaxcart>
          <files>
            <default>Magebuzz_Ajaxcart.csv</default>
          </files>
        </Magebuzz_Ajaxcart>
      </modules>
    </translate>
  </frontend>	
  <global>
    <models>
      <ajaxcart>
        <class>Magebuzz_Ajaxcart_Model</class>
      </ajaxcart>		
    </models>	
    <blocks>
      <ajaxcart>
        <class>Magebuzz_Ajaxcart_Block</class>
      </ajaxcart>
      <checkout>
        <rewrite>
          <cart_item_renderer>Magebuzz_Ajaxcart_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
        </rewrite>
      </checkout>
    </blocks>
    <helpers>
      <ajaxcart>
        <class>Magebuzz_Ajaxcart_Helper</class>
      </ajaxcart>
    </helpers>
    <events>
      <controller_action_postdispatch_catalog_product_view>
        <observers>
          <magebuzz_ajaxcart_product_page>
            <type>singleton</type>
            <class>ajaxcart/observer</class>
            <method>checkCustomOptions</method>
          </magebuzz_ajaxcart_product_page>
        </observers>
      </controller_action_postdispatch_catalog_product_view>
    </events>
  </global>
  <default>
    <ajaxcart>
      <general>
        <enabled>1</enabled>
        <display_success_message>1</display_success_message>
        <success_message_content>You have recently added this product to your Cart</success_message_content>
      </general>
    </ajaxcart>
  </default>
</config>