<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Customwishlist>
			<version>0.1.0</version>
		</Magebuzz_Customwishlist>
	</modules>
	<frontend>
		<routers>
			<customwishlist>
				<use>standard</use>
				<args>
					<module>Magebuzz_Customwishlist</module>
					<frontName>customwishlist</frontName>
				</args>
			</customwishlist>
		</routers>
		<routers>
			<wishlist>
				<args>
					<modules>
						<magebuzz_customwishlist before="Mage_Wishlist">Magebuzz_Customwishlist</magebuzz_customwishlist>
					</modules>
				</args>
			</wishlist>
		</routers>
		<layout>
			<updates>
				<customwishlist>
					<file>customwishlist.xml</file>
				</customwishlist>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Customwishlist>
					<files>
						<default>Magebuzz_Customwishlist.csv</default>
					</files>
				</Magebuzz_Customwishlist>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<customwishlist>
				<use>admin</use>
				<args>
					<module>Magebuzz_Customwishlist</module>
					<frontName>customwishlist</frontName>
				</args>
			</customwishlist>
		</routers>
	</admin>
  <adminhtml>		
		<layout>
			<updates>
				<customwishlist>
					<file>customwishlist.xml</file>
				</customwishlist>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Customwishlist>
					<files>
						<default>Magebuzz_Customwishlist.csv</default>
					</files>
				</Magebuzz_Customwishlist>
			</modules>
		</translate>
  </adminhtml>   
	<global>
		<models>
			<customwishlist>
				<class>Magebuzz_Customwishlist_Model</class>
				<resourceModel>customwishlist_mysql4</resourceModel>
			</customwishlist>
			<customwishlist_mysql4>
				<class>Magebuzz_Customwishlist_Model_Mysql4</class>
				<entities>
					<customwishlist>
						<table>customwishlist</table>
					</customwishlist>
				</entities>
			</customwishlist_mysql4>
		</models>
		<resources>
			<customwishlist_setup>
				<setup>
					<module>Magebuzz_Customwishlist</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customwishlist_setup>
			<customwishlist_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customwishlist_write>
			<customwishlist_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customwishlist_read>
		</resources>
		<blocks>
			<customwishlist>
				<class>Magebuzz_Customwishlist_Block</class>
			</customwishlist>
		</blocks>
		<helpers>
			<customwishlist>
				<class>Magebuzz_Customwishlist_Helper</class>
			</customwishlist>
		</helpers>
	</global>
</config>