<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Franchise>
            <version>0.1.0</version>
        </Magebuzz_Franchise>
    </modules>
    <frontend>
        <routers>
            <franchise>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Franchise</module>
                    <frontName>franchise</frontName>
                </args>
            </franchise>
        </routers>
        <layout>
            <updates>
                <franchise>
                    <file>franchise.xml</file>
                </franchise>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magebuzz_Franchise>
                    <files>
                        <default>Magebuzz_Franchise.csv</default>
                    </files>
                </Magebuzz_Franchise>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magebuzz_Franchise before="Mage_Adminhtml">Magebuzz_Franchise_Adminhtml</Magebuzz_Franchise>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <franchise>
                    <file>franchise.xml</file>
                </franchise>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <franchise>
                <class>Magebuzz_Franchise_Model</class>
                <resourceModel>franchise_mysql4</resourceModel>
            </franchise>
            <franchise_mysql4>
                <class>Magebuzz_Franchise_Model_Mysql4</class>
                <entities>
                    <franchise>
                        <table>franchise</table>
                    </franchise>
                </entities>
            </franchise_mysql4>
        </models>
        <resources>
            <franchise_setup>
                <setup>
                    <module>Magebuzz_Franchise</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </franchise_setup>
            <franchise_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </franchise_write>
            <franchise_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </franchise_read>
        </resources>
        <blocks>
            <franchise>
                <class>Magebuzz_Franchise_Block</class>
            </franchise>
        </blocks>
        <helpers>
            <franchise>
                <class>Magebuzz_Franchise_Helper</class>
            </franchise>
        </helpers>
    </global>
</config>