<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<KBank>
					<label>ชำระเงินผ่านช่องทาง KBank</label>
	                <sort_order>900</sort_order>
	                <show_in_default>1</show_in_default>
	                <show_in_website>1</show_in_website>
	                <show_in_store>1</show_in_store>
	                <fields>

			            <active translate="label">
			                <label>Enabled</label>
			                <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_yesno</source_model>
			                <sort_order>1</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			                <show_in_store>1</show_in_store>
			            </active>

			            <title translate="label">
			                <label>Title</label>
			                <frontend_type>text</frontend_type>
			                <sort_order>10</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			                <show_in_store>1</show_in_store>
			            </title>

			            <plannote translate="label">
			                <label>รายละเอียด</label>
			                <frontend_type>textarea</frontend_type>
			                <sort_order>11</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			                <show_in_store>1</show_in_store>
			                
			            </plannote>

			            <paymentgatewayurl>
	                        <label>K-Payment Gateway Url</label>
	                        <frontend_type>text</frontend_type>
	                        <sort_order>10</sort_order>
	                        <show_in_default>1</show_in_default>
	                        <show_in_website>1</show_in_website>
	                        <show_in_store>1</show_in_store>
	                        <validate>validate-url</validate>
	                    </paymentgatewayurl>

	                    <payment_success_status translate="label">
                            <label>Payment Success order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_success_status>
                        
	                    <payment_autoinvoice translate="label">
                            <label>Payment Success - Create Invoice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_autoinvoice> 

	                    <md5code>
	                        <label>MD5 Code</label>
	                        <frontend_type>text</frontend_type>
	                        <sort_order>11</sort_order>
	                        <show_in_default>1</show_in_default>
	                        <show_in_website>1</show_in_website>
	                        <show_in_store>1</show_in_store>
	                    </md5code>
			            <smpmerchantid>
			                <label>Merchant No.</label>
			                <comment>
			                    <![CDATA[Option for customized Payment template and KBank transaction)]]>
			                </comment>
			                <frontend_type>text</frontend_type>
			                <sort_order>20</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			                <show_in_store>1</show_in_store>
			            </smpmerchantid>
			            <smpterminalid>
			                <label>Terminal ID</label>
			                <comment>
			                    <![CDATA[Option for customized Payment template and KBank transaction)]]>
			                </comment>
			                <frontend_type>text</frontend_type>
			                <sort_order>21</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			                <show_in_store>1</show_in_store>
			            </smpterminalid>
			            <shopid>
			                <label>SHOPID</label>
			                <comment>
			                    <![CDATA[Option for customized Payment template and KBank transaction)]]>
			                </comment>
			                <frontend_type>text</frontend_type>
			                <sort_order>22</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			                <show_in_store>1</show_in_store>
			            </shopid>
						<min_order_total translate="label">
							<label>Minimum Order Total</label>
							<frontend_type>text</frontend_type>
							<sort_order>32</sort_order>
							<validate>validate-number</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</min_order_total>
						<max_order_total translate="label">
							<label>Maximum Order Total</label>
							<frontend_type>text</frontend_type>
							<sort_order>33</sort_order>
							<validate>validate-number</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</max_order_total>
						<infoimage translate="label">
							<label>Logo bank</label>
							<frontend_type>text</frontend_type>
							<sort_order>29</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</infoimage>
			    	</fields>
				</KBank>
			</groups>
		</payment>
	</sections>
</config>
